{% extends 'base.html' %}

{% block title %}会计实训系统 信息{% endblock title %}

{% block meun %}{% endblock meun %}

{% block courseBody %}

<div class="container">
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
        <div class="panel panel-default">
            <div class="panel-body">
                <div style="height: 200px;display: flex;flex-direction: column;justify-content: center;align-items: center">推广板/信息板 占位</div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="notice-panel">
                    <h3 class="notice-title">最新版本1.0.发布啦</h3>
                    <div class="notice-info">
                        <time class="notice-time">2020年10月15日</time>
                        <span class="notice-author">Hooy</span>
                    </div>
                    <hr/>
                    <article>
                        <p>噩梦灾变 配件挑战活动的第七季地图存在地图名称错误的问题，地图名称异常显示为绝命背叛[追击]，正确的活动地图名称应为殊死反击[追击]，请战友们在大灾变第七季地图殊死反击[追击]中达成活动要求获取奖励。
                            望战友们了解并相互转告，给大家带来的不便敬请谅解。</p>
                        <p>噩梦灾变 配件挑战活动的第七季地图存在地图名称错误的问题，地图名称异常显示为绝命背叛[追击]，正确的活动地图名称应为殊死反击[追击]，请战友们在大灾变第七季地图殊死反击[追击]中达成活动要求获取奖励。
                            望战友们了解并相互转告，给大家带来的不便敬请谅解。</p>
                        <p>噩梦灾变 配件挑战活动的第七季地图存在地图名称错误的问题，地图名称异常显示为绝命背叛[追击]，正确的活动地图名称应为殊死反击[追击]，请战友们在大灾变第七季地图殊死反击[追击]中达成活动要求获取奖励。
                            望战友们了解并相互转告，给大家带来的不便敬请谅解。</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 防尾前移 -->
<div class="acc-container-separate"></div>

{% endblock courseBody %}