{% extends 'admin/admin-base.html' %}
{% block page_title %}题目重判{% endblock %}
{% block page_title_li %}
    <li class="active">题目重判</li>
{% endblock %}
{% block content %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">课程时间</strong>
                    </div>
                    <div class="card-body">
                        <div class="input-group form-inline mb-2 col-lg-2 col-sm-2">
                            <label for="courseSelect">选择课程：</label>
                            <select id="courseSelect" class="custom-select">
                                <option name="2" value="2">第二次课程</option>
                                <option name="3" value="3">第三次课程</option>
                                <option name="4" value="4">第四次课程</option>
                                <option name="5" value="5">第五次课程</option>
                                <option name="6" value="6">第六次课程</option>
                                <option name="7" value="7">第七次课程</option>
                                <option name="8" value="8">第八次课程</option>
                                <option name="9" value="9">第九次课程</option>
                                <option name="10" value="10">第十次课程</option>
                            </select>
                        </div>
                        <hr/>
                        <div class="input-group form-inline mb-3 col-lg-3 col-sm-3">
                            <label for="classSelect">选择班级：</label>
                            <select id="classSelect" class="custom-select">
                                <option name="0" value="0">无</option>
                            </select>
                        </div>
                        <span style="display: block">（注：若选择无，则以学号为单位或者全部重判，全部重判则学号也应置空）</span>
                        <hr/>
                        <div class="input-group form-inline mb-2 col-lg-4 col-sm-2">
                            <label for="student_no">输入学号：</label>
                            <input id="student_no" type="number">
                        </div>
                        <span>（注：若无输入，则以班级为单位或全部重判）</span>
                        <div class="text-center">
                            <button id="rejudge-button" class="btn btn-outline-info btn-group-vertical" type="button">
                                开始重判
                            </button>
                        </div>
                        <div id="show-tips-box"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" src="{{ url_for('static', filename='js/admin/score_rejudge.js') }}"></script>
{% endblock %}