{% extends 'profile/profile-base.html' %}
{% block page_title %}系统通知{% endblock %}
{% block page_title_li %}系统通知{% endblock %}
{% block content %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">系统通知</strong>
                    </div>
                    <div class="card-body">
                        <div class="msg">
                            <div class="friend-message">
                                <div class="title">
                                    系统通知
                                </div>
                                <div data-message-box class="message-box">
                                    <div class="msg-item msg-item-left">
                                        <p><span class="small font-weight-bold">作业提交时间截至通知</span>
                                            <span class="time small">2020年06月01日 12:00</span>
                                            <br/>
                                            请及时完成作业。将于2020-06-05 00:00 截止 当前状态：待提交</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile/message_whisper.css') }}">
    <script src="{{ url_for('static', filename='js/message_system.js') }}"></script>

{% endblock %}