{% extends 'profile/profile-base.html' %}
{% block page_title %}我的进度{% endblock %}
{% block page_title_li %}我的进度{% endblock %}
{% block content %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">我的进度</strong>
                    </div>
                    <div class="card-body" style="height: 60%;width: 60%">
                        <canvas id="myChart" width="600" height="400"></canvas>
                        <hr/>
                        <canvas id="pie-chart" width="600" height="600"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- .animated -->
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/ajax/profile/profile-schedule.js') }}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jqc-1.12.4/dt-1.10.21/datatables.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/datatables-buttons/2.2.0/js/dataTables.buttons.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/lib/data-table/buttons.bootstrap.min.js') }}"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jszip/3.3.0/jszip.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/datatables-buttons/2.2.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/datatables-buttons/2.2.0/js/buttons.print.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/datatables-buttons/2.2.0/js/buttons.colVis.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/init/datatables-init.js') }}"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#bootstrap-data-table-export').DataTable();
        });
    </script>
{% endblock %}
