{% extends 'profile/profile-base.html' %} {% block page_title %}我的团队{% endblock %} {% block page_title_li %}
    我的团队{% endblock %} {% block content %}
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/profile/team.css') }}"
    />
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <!-- 成员信息 -->
                <div class="card">
                    <div class="card-body">
                        <div id="teamInfo">
                            <span class="team-title" style='margin-top:10px;'>团队成员</span>
                            <button id="changeTeamName" type="button" class="btn btn-primary btn-sm"><i
                                    class="fa fa-pencil" style="margin-right:2px" aria-hidden="true"></i>修改队名
                            </button>
                        </div>

                        <div id="teamInput" style="display:none;">
                            <input id="teamNameInput" style="width:350px;height:30px;display:inline-block" type="text"
                                   class="form-control" placeholder="请输入新组名" aria-describedby="basic-addon1">
                            <button id="sureChangeTeamName" type="button" class="btn btn-warning btn-sm"><i
                                    class="fa fa-pencil" style="margin-right:2px" aria-hidden="true"></i>确定修改
                            </button>
                        </div>


                        <hr/>
                        <div id="member-box" class="member-box">
                            <!-- 团队成员 -->
                        </div>
                    </div>

                </div>
                <div></div>
                <div class="card teamInfo">
                    <div class="card-body">
                        <div class="teamInfo">
                            <div class="teamInfo-item">
                                <div class="team-title">团队进度</div>
                                <hr/>
                                <div class="teamSchedule">
                                    <canvas id="myChart" width="300" height="200"></canvas>
                                </div>
                            </div>
                            <div class="teamInfoSplit"></div>
                            <div class="teamInfo-item">
                                <div class="team-title">团队成绩</div>
                                <hr/>
                                <div class="teamScore">
                                    <canvas id="teamScore" width="300" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .animated -->
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/profile/profile-team.js') }}"></script>
    <script src="{{ url_for('static', filename='js/profile/profile-score.js') }}"></script>
    <script src="{{ url_for('static', filename='js/profile/profile-schedule.js') }}"></script>

{% endblock %}
