{% extends 'profile/profile-base.html' %} {% block page_title %}我的成绩{% endblock %} {% block page_title_li %}
    我的成绩{% endblock %} {% block content %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">我的成绩</strong>
                    </div>
                    <div class="card-body" style="height: 60%; width: 60%">
                        <canvas id="myScore" width="600" height="400"></canvas>
                        <hr/>
                        <canvas id="pie-chart" width="600" height="600"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .animated -->
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/profile/profile-score.js') }}"></script>
{% endblock %}
