{% extends 'teacher/teacher-base.html' %}
{% block page_title %}添加班级{% endblock %}
{% block page_title_li %}
    <li><a href="#">班级管理</a></li>
    <li class="active">添加班级</li>
{% endblock %}
{% block content %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">添加班级</strong>
                    </div>
                    <div class="card-body">
                        <form>
                            <div>
                                我的班级列表：
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">学校</th>
                                        <th scope="col">二级学院</th>
                                        <th scope="col">班级</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table-body">

                                    </tbody>
                                </table>
                            </div>
                            <hr/>
                            <div class="form-group">
                                添加班级：
                                <p class="help-block">请选择要添加的Excel表格文件（学生信息，支持.xlsx后缀）。</p>
                                <label for="uploadFiles">
                                    <span class="glyphicon glyphicon-upload"></span>
                                </label>
                                <input type="file" id="upload_file" accept=".xlsx">
                                <button id="add_class" class="btn btn-outline-info" type="button">确认添加</button>
                                <div id="show-message-tips">

                                </div>
                                <!--文件下载-->
                                <hr/>
                                <a href="{{ url_for('api.download_attached') }}">
                                    <button class="download-button" type="button">下载附件</button>
                                </a>
                                <p class="help-block">点击此处下载样表。</p>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/teacher/add-class.js') }}"></script>
{% endblock %}