{% extends 'teacher/teacher-base.html' %}
{% block page_title %}排行榜{% endblock %}
{% block page_title_li %}排行榜{% endblock %}
{% block content %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">排行榜</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th class="serial">排名</th>
                                <th>用户名</th>
                                <th>公司名</th>
                                <th>总分</th>
                                <th>I</th>
                                <th>II</th>
                                <th>III</th>
                                <th>IV</th>
                                <th>V</th>
                                <th>VI</th>
                                <th>VII</th>
                                <th>VIII</th>
                                <th>IX</th>
                                <th>X</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="serial">1</td>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">2</td>
                                <td>Garrett Winters</td>
                                <td>Accountant</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">3</td>
                                <td>Ashton Cox</td>
                                <td>Junior Technical Author</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">4</td>
                                <td>Cedric Kelly</td>
                                <td>Senior Javascript Developer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">5</td>
                                <td>Airi Satou</td>
                                <td>Accountant</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">6</td>
                                <td>Brielle Williamson</td>
                                <td>Integration Specialist</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">7</td>
                                <td>Herrod Chandler</td>
                                <td>Sales Assistant</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">8</td>
                                <td>Rhona Davidson</td>
                                <td>Integration Specialist</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">9</td>
                                <td>Colleen Hurst</td>
                                <td>Javascript Developer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">10</td>
                                <td>Sonya Frost</td>
                                <td>Software Engineer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">11</td>
                                <td>Jena Gaines</td>
                                <td>Office Manager</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">12</td>
                                <td>Quinn Flynn</td>
                                <td>Support Lead</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">13</td>
                                <td>Charde Marshall</td>
                                <td>Regional Director</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">14</td>
                                <td>Haley Kennedy</td>
                                <td>Senior Marketing Designer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">15</td>
                                <td>Tatyana Fitzpatrick</td>
                                <td>Regional Director</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">16</td>
                                <td>Michael Silva</td>
                                <td>Marketing Designer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">17</td>
                                <td>Paul Byrd</td>
                                <td>Chief Financial Officer (CFO)</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">18</td>
                                <td>Gloria Little</td>
                                <td>Systems Administrator</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">19</td>
                                <td>Bradley Greer</td>
                                <td>Software Engineer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Dai Rios</td>
                                <td>Personnel Lead</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Jenette Caldwell</td>
                                <td>Development Lead</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Yuri Berry</td>
                                <td>Chief Marketing Officer (CMO)</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Caesar Vance</td>
                                <td>Pre-Sales Support</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Doris Wilder</td>
                                <td>Sales Assistant</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Angelica Ramos</td>
                                <td>Chief Executive Officer (CEO)</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Gavin Joyce</td>
                                <td>Developer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Jennifer Chang</td>
                                <td>Regional Director</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Brenden Wagner</td>
                                <td>Software Engineer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Fiona Green</td>
                                <td>Chief Operating Officer (COO)</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Shou Itou</td>
                                <td>Regional Marketing</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Michelle House</td>
                                <td>Integration Specialist</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Suki Burks</td>
                                <td>Developer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Prescott Bartlett</td>
                                <td>Technical Author</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Gavin Cortez</td>
                                <td>Team Leader</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Martena Mccray</td>
                                <td>Post-Sales support</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Unity Butler</td>
                                <td>Marketing Designer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Howard Hatfield</td>
                                <td>Office Manager</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Hope Fuentes</td>
                                <td>Secretary</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Vivian Harrell</td>
                                <td>Financial Controller</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Timothy Mooney</td>
                                <td>Office Manager</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Jackson Bradshaw</td>
                                <td>Director</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Olivia Liang</td>
                                <td>Support Engineer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Bruno Nash</td>
                                <td>Software Engineer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Sakura Yamamoto</td>
                                <td>Support Engineer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Thor Walton</td>
                                <td>Developer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Finn Camacho</td>
                                <td>Support Engineer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Serge Baldwin</td>
                                <td>Data Coordinator</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Zenaida Frank</td>
                                <td>Software Engineer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Zorita Serrano</td>
                                <td>Software Engineer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Jennifer Acosta</td>
                                <td>Junior Javascript Developer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Cara Stevens</td>
                                <td>Sales Assistant</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Hermione Butler</td>
                                <td>Regional Director</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Lael Greer</td>
                                <td>Systems Administrator</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Jonas Alexander</td>
                                <td>Developer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Shad Decker</td>
                                <td>Regional Director</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Michael Bruce</td>
                                <td>Javascript Developer</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="serial">20</td>
                                <td>Donna Snider</td>
                                <td>Customer Support</td>
                                <td>550</td>
                                <td>10</td>
                                <td>20</td>
                                <td>30</td>
                                <td>40</td>
                                <td>50</td>
                                <td>60</td>
                                <td>70</td>
                                <td>80</td>
                                <td>90</td>
                                <td>100</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->

    <!-- Scripts -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jqc-1.12.4/dt-1.10.21/datatables.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/datatables-buttons/2.2.0/js/dataTables.buttons.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/lib/data-table/buttons.bootstrap.min.js') }}"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jszip/3.3.0/jszip.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/datatables-buttons/2.2.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/datatables-buttons/2.2.0/js/buttons.print.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/datatables-buttons/2.2.0/js/buttons.colVis.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/init/datatables-init.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#bootstrap-data-table-export').DataTable();
        });
    </script>


{% endblock %}
