{% extends 'teacher/teacher-base.html' %}
{% block page_title %}批改进度{% endblock %}
{% block page_title_li %}
    <li ><a href="#">班级管理</a></li>
    <li class="active">批改进度</li>
{% endblock %}
{% block content %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">批改进度</strong>
                    </div>
                    <div class="card-body" style="height: 60%;width: 80%;">


                        <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
                              rel="stylesheet">
                        <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}