table textarea {
    border-style: none;
    border-width: thin;
    border-color: red;
    height: 100%;
    width: 100%;
}

td input {
    text-align: left;
    border-style: none;
    border-width: thin;
    border-color: red;
    width: 100%;
    height: 25px;
}

td label {
    margin-bottom: 0;
    font-weight: inherit;
    display: block;
}

tr td {
    padding: 4px !important;
}

tr th {
    padding: 4px !important;
}