{% extends 'teacher/teacher-base.html' %}
{% block page_title %}我的消息{% endblock %}
{% block page_title_li %}<li class="active">我的消息</li>{% endblock %}
{% block content %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">我的消息</strong>
                    </div>
                    <div class="card-body">
                        <div class="msg">
                            <div class="friend-list">
                                <div class="title">
                                    班级
                                </div>
                                <div class="list">
                                    <article class="active">
                                        <img src="" alt="">
                                        <div class="user-info">
                                            <span> 网络工程1701 - 湖南工学院</span>
                                            <span>信息信息信息信息信息信息信息</span>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="friend-message">
                                <div class="title">
                                    网络工程1701 - 湖南工学院
                                </div>
                                <div data-message-box class="message-box">

                                </div>
                                <div class="send-box">
                                    <textarea data-message-content placeholder="输入消息..."></textarea>
                                    <div>
                                        <div>
                                            <span>0</span>
                                            <span>/</span>
                                            <span>500</span>
                                        </div>
                                        <button data-send-message>发送</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="http://cdn.accoj.top/static/accoj-1.0.0/message_whisper.css">
    <script src="http://cdn.accoj.top/static/accoj-1.0.0/message_whisper.js"></script>
{% endblock %}