{% extends 'course/courseBase.html' %}

{% block courseBody %}
    <div class="courseBody">
        <!-- 习题主体 -->
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>1、掌握资产负债表和利润表的填制方法。 </span>
                </div>
                <div class="panel-body">
                    <!-- 作业标签 -->
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a
                                href="#first" aria-controls="first" role="tab"
                                data-toggle="tab">资产负债表</a></li>
                        <li role="presentation"><a href="#second"
                                                   aria-controls="second" role="tab" data-toggle="tab">利润表</a></li>
                    </ul>

                    <div class="tab-content">
                        <!-- 第一标签 -->
                        <div role="tabpanel" class="tab-pane active in fade" id="first">
                            <p class="ats-fontsize-20">1、编写资产负债表</p>
                            <table class="table table-bordered ats-vouchertable">
                                <tr class="ats-tablecolor-f">
                                    <th>资产</th>
                                    <th>期末余额</th>
                                    <th>上期余额</th>
                                    <th>负债及所有者权益</th>
                                    <th>期末余额</th>
                                    <th>上期余额</th>
                                </tr>
                                <tr class="ats-tablecolor-f">
                                    <th style="text-align: left">流动资产：</th>
                                    <td></td>
                                    <td></td>
                                    <th style="text-align: left">流动负债：</th>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">货币资金</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">短期借款</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">金融资产</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">金融负债</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">应收票据</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">应付票据</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">应收账款</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">应付账款</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">预付账款</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">预收账款</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">应收利息</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">应付职工薪酬</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">应收股利</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">应交税费</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">其他应收款</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">应付利息</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">存货</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">应付股利</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">一年内到期的非流动资产</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">其他应付款</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">其他流动资产</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">一年内到期的非流动负债</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th class="ats-tablecolor-f">流动资产合计</th>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">其他流动负债</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="ats-tablecolor-f" style="text-align: left">非流动资产：</th>
                                    <td class="ats-tablecolor-f"></td>
                                    <td class="ats-tablecolor-f"></td>
                                    <th class="ats-tablecolor-f">流动负债合计</th>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">可供出售金融资产</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <th class="ats-tablecolor-f" style="text-align: left">非流动负债：</th>
                                    <td class="ats-tablecolor-f"></td>
                                    <td class="ats-tablecolor-f"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">持有至到期投资</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">长期借款</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">长期应收款</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">应付债券</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">长期股权投资</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">长期应付款</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">投资性房地产</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">预计负债</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">固定资产</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">递延所得税负债</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">在建工程</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">其他非流动负债</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">工程物资</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <th class="ats-tablecolor-f">非流动负债合计</th>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">固定资产清理</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <th class="ats-tablecolor-f">负债合计</th>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">无形资产</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <th class="ats-tablecolor-f" style="text-align: left">所有者权益：</th>
                                    <td class="ats-tablecolor-f"></td>
                                    <td class="ats-tablecolor-f"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">开发支出</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">实收资本（股本）</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">长期待摊费用</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">资本公积</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">递延所得税资产</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">盈余公积</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">其他非流动资产</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <td class="ats-tablecolor-f">未分配利润</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th class="ats-tablecolor-f">非流动资产合计</th>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <th class="ats-tablecolor-f">所有者权益合计</th>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <th class="ats-tablecolor-f">资产总计</th>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                    <th class="ats-tablecolor-f">负债及所有者权益总计</th>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                            </table>
                        </div>


                        <!-- 第二标签 -->
                        <div role="tabpanel" class="tab-pane fade" id="second">
                            <p class="ats-fontsize-20">2、编写利润表</p>
                            <table class="table table-bordered ats-vouchertable">
                                <tr class="ats-tablecolor-f">
                                    <th style="width: 50%;">项目</th>
                                    <th style="width: 25%;">本期金额</th>
                                    <th style="width: 25%;">上期金额</th>
                                </tr>
                                <tr class="ats-tablecolor-f">
                                    <th style="text-align: left">一、营业收入</th>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">减：营业成本</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">税金及附加</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">销售费用</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">管理费用</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">财务费用</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">资产减值损失</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">加：公允价值变动收益（损失以“-”号填列）</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">投资收益（损失以“-”号填列）</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="ats-tablecolor-f" style="text-align: left">二、营业利润（亏损以“-”号填列）</th>
                                    <td class="ats-tablecolor-f"></td>
                                    <td class="ats-tablecolor-f"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">加：营业外收入</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">其中：对联营企业和合营企业的投资收益</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">减：营业外支出</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">其中，非流动资产处置损失</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="ats-tablecolor-f" style="text-align: left">三、利润总额（亏损总额以“-”号填列）</th>
                                    <td class="ats-tablecolor-f"></td>
                                    <td class="ats-tablecolor-f"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">减：所得税费用</td>
                                    <td contentEditable="true"></td>
                                    <td contentEditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="ats-tablecolor-f" style="text-align: left">四、净利润（净亏损以“-”号填列）</th>
                                    <td class="ats-tablecolor-f"></td>
                                    <td class="ats-tablecolor-f"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <hr class="simple" style="clear: both;" color="#6f5499"/>
                    <div align="right">
                        <input class="btn btn-success right-block" form="courseii-1"
                               type="submit" value="提交">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock courseBody %}