{% extends 'course/courseBase.html' %}
{% block courseBody %}
    <link href="http://cdn.accoj.top/static/accoj-1.0.0/courseix.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/course/courseix_4.js') }}" charset="UTF-8"></script>
    <!--第九次课程-->
    <div class="courseBody">
        <!-- 习题主体 -->
        <div class="container">
            <div class="panel panel-default">
                <!--作业要求-->
                <div class="panel-heading">
                    <span>1、掌握财务报表基本分析方法及其运用。 </span>
                    <br/>
                    <strong>4、你需要完成的题目有：</strong><strong id="selfQuestion"></strong>
                </div>
                <div class="panel-body">
                    <div class="acc-pn-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination pagination-sm">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('accoj.courseix') }}">趋势分析法</a>
                            </li>
                            <li>
                                <a href="{{ url_for('accoj.courseix_2') }}">共同比分析法</a>
                            </li>
                            <li>
                                <a href="{{ url_for('accoj.courseix_3') }}">因素分析法</a>
                            </li>
                            <li class="active">
                                <a href="{{ url_for('accoj.courseix_4') }}">比率分析法</a>
                            </li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <hr class="simple"/>
                <p class="acc-title">4、比率分析法
                    <span id="ix4_span" class="glyphicon glyphicon-ok acc-completed">已完成</span>
                </p>
                <p>比率分析法是利用企业同一时期的会计报表中两个或两个以上指标之间的某种关联关系，计算出一系列财务比率，据以考察、分析和评价企业财务状况和经营业绩的分析方法。</p>
                <p class="help-block">&nbsp;
                    <em class="acc-score-help">&nbsp;/&nbsp;总得分</em>
                    <em class="acc-score-help">当前</em>
                </p>
                <em data-total-score-1></em>
                <em data-now-score-1></em>
                <div id="ix4">
                    <div class="table-responsive">
                    <table class="table table-bordered acc-container-tableformat acc-table-sm">
                        <tr class="acc-unedit acc-table-format-8-2">
                            <th colspan="2">项目</th>
                            <th>本期</th>
                            <th>上期</th>
                        </tr>
                        <tr>
                            <th rowspan="5" class="acc-unedit">偿债能力分析</th>
                            <th class="acc-unedit">流动比率</th>
                            <td><label><input name="流动比率End"></label></td>
                            <td><label><input name="流动比率Last"></label></td>
                        </tr>
                        <tr>
                            <th class="acc-unedit">速动比率</th>
                            <td><label><input name="速动比率End"></label></td>
                            <td><label><input name="速动比率Last"></label></td>
                        </tr>
                        <tr>
                            <th class="acc-unedit">现金比率</th>
                            <td><label><input name="现金比率End"></label></td>
                            <td><label><input name="现金比率Last"></label></td>
                        </tr>
                        <tr>
                            <th class="acc-unedit">资产负债率</th>
                            <td><label><input name="资产负债率End"></label></td>
                            <td><label><input name="资产负债率Last"></label></td>
                        </tr>
                        <tr>
                            <th class="acc-unedit">产权比率</th>
                            <td><label><input name="产权比率End"></label></td>
                            <td><label><input name="产权比率Last"></label></td>
                        </tr>
                        <tr>
                            <th rowspan="5" class="acc-unedit">盈利能力分析</th>
                            <th class="acc-unedit">销售毛利率</th>
                            <td><label><input name="销售毛利率End"></label></td>
                            <td><label><input name="销售毛利率Last"></label></td>
                        </tr>
                        <tr>
                            <th class="acc-unedit">营业利润率</th>
                            <td><label><input name="营业利润率End"></label></td>
                            <td><label><input name="营业利润率Last"></label></td>
                        </tr>
                        <tr>
                            <th class="acc-unedit">成本费用营业利润率</th>
                            <td><label><input name="成本费用营业利润率End"></label></td>
                            <td><label><input name="成本费用营业利润率Last"></label></td>
                        </tr>
                        <tr>
                            <th class="acc-unedit">净利润率</th>
                            <td><label><input name="净利润率End"></label></td>
                            <td><label><input name="净利润率Last"></label></td>
                        </tr>
                        <tr>
                            <th class="acc-unedit">净资产收益率</th>
                            <td><label><input name="净资产收益率End"></label></td>
                            <td><label><input name="净资产收益率Last"></label></td>
                        </tr>
                        <tr>
                            <th rowspan="5" class="acc-unedit">营运能力分析</th>
                            <th class="acc-unedit">流动资产周转率</th>
                            <td><label><input name="流动资产周转率End"></label></td>
                            <td><label><input name="流动资产周转率Last"></label></td>
                        </tr>
                        <tr>
                            <th class="acc-unedit">应收账款周转率</th>
                            <td><label><input name="应收账款周转率End"></label></td>
                            <td><label><input name="应收账款周转率Last"></label></td>
                        </tr>
                        <tr>
                            <th class="acc-unedit">存货周转率</th>
                            <td><label><input name="存货周转率End"></label></td>
                            <td><label><input name="存货周转率Last"></label></td>
                        </tr>
                        <tr>
                            <th class="acc-unedit">固定资产周转率</th>
                            <td><label><input name="固定资产周转率End"></label></td>
                            <td><label><input name="固定资产周转率Last"></label></td>
                        </tr>
                        <tr>
                            <th class="acc-unedit">总资产周转率</th>
                            <td><label><input name="总资产周转率End"></label></td>
                            <td><label><input name="总资产周转率Last"></label></td>
                        </tr>
                        <tr>
                            <th rowspan="5" class="acc-unedit">发展能力分析</th>
                            <th class="acc-unedit">固定资产增长率</th>
                            <td><label><input name="固定资产增长率End"></label></td>
                            <td><label><input name="固定资产增长率Last"></label></td>
                        </tr>
                        <tr>
                            <th class="acc-unedit">总资产增长率</th>
                            <td><label><input name="总资产增长率End"></label></td>
                            <td><label><input name="总资产增长率Last"></label></td>
                        </tr>
                        <tr>
                            <th class="acc-unedit">资本积累率</th>
                            <td><label><input name="资本积累率End"></label></td>
                            <td><label><input name="资本积累率Last"></label></td>
                        </tr>
                        <tr>
                            <th class="acc-unedit">净利润增长率</th>
                            <td><label><input name="净利润增长率End"></label></td>
                            <td><label><input name="净利润增长率Last"></label></td>
                        </tr>
                        <tr>
                            <th class="acc-unedit">营业收入增长率</th>
                            <td><label><input name="营业收入增长率End"></label></td>
                            <td><label><input name="营业收入增长率Last"></label></td>
                        </tr>
                    </table>
                    </div>
                </div>
                <p class="acc-title">结论：
                    <em class="acc-score-help">&nbsp;/&nbsp;总得分</em>
                    <em class="acc-score-help">当前</em>
                </p>
                <em data-total-score-2></em>
                <em data-now-score-2></em>
                {% if role == "教师" %}
                <div class="col-lg-2">
                    <div class="input-group">
                        <input name="score" type="text" class="form-control" placeholder="满分5">
                        <span class="input-group-btn">
                            <button id="teacher_correct" class="btn btn-info" type="button">教师评分</button>
                        </span>
                    </div>
                    <hr>
                    <div id="course_ix4_message_1"></div>
                </div>
                {% endif %}
                <label for="Conclusion"></label>
                <textarea id="Conclusion" class="form-control acc-unresize" rows="5"></textarea>
                <hr class="simple"/>
                <!--信息提示窗口-->
                <div id="course_ix4_message">
                </div>
                <div class="acc-btn-left">
                    <button type="button" class="btn btn-info" data-answer>查看答案</button>
                </div>
                <div class="acc-btn-right">
                    <button type="button" class="btn btn-info" data-save>
                        <span class="glyphicon"></span>保存
                    </button>
                    <button type="button" class="btn btn-success" data-confirm>
                        <span class="glyphicon"></span>提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="acc-container-separate"></div>

{% endblock courseBody %}
