{% extends 'course/courseBase.html' %} {% block courseBody %}
<div class="courseBody">
	<!-- 习题主体 -->
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span>1、掌握财务报表基本分析方法及其运用。 </span>
			</div>
			<div class="panel-body">
				<div align="center">
					<nav aria-label="Page navigation">
						<ul class="pagination">
							<li><a href="#" aria-label="Previous"> <span
									aria-hidden="true">&laquo;</span>
							</a></li>
							<li class="active"><a href="{{ url_for('accoj.courseix') }}">趋势分析法</a></li>
							<li><a href="{{ url_for('accoj.courseix_2') }}">共同比分析法</a></li>
							<li><a href="{{ url_for('accoj.courseix_3') }}">因素分析法</a></li>
							<li><a href="{{ url_for('accoj.courseix_4') }}">比率分析法</a></li>
							<li><a href="#" aria-label="Next"> <span
									aria-hidden="true">&raquo;</span>
							</a></li>
						</ul>
					</nav>
				</div>
				<hr class="simple" color="#6f5499" />

				<p class="acc-title">1、趋势分析法</p>
                <span id="" class="glyphicon glyphicon-ok" style="color: #5cb85c;font-size: medium;display:none;">
                                已完成</span>
				<p>趋势分析法是根据企业连续几个时期的会计报表，比较、分析各有关项目增减变化情况，从而判断其财务状况、经营成果、现金流量等发展变化趋势和变化规律，并对未来的结果作出预测的一种分析方法。</p>

				<div>
					<!-- 作业标签 -->
					<ul class="nav nav-tabs">
						<li role="presentation" class="active"><a
							href="#AssetLiability" aria-controls="AssetLiability" role="tab"
							data-toggle="tab">资产负债表</a></li>
						<li role="presentation"><a href="#Profit"
							aria-controls="Profit" role="tab" data-toggle="tab">利润表</a></li>
					</ul>
					<div class="tab-content">
						<!-- 第一标签 -->
						<div role="tabpanel" class="tab-pane active in fade"
							id="AssetLiability">
							<table class="table table-bordered acc-container-tableformat">
								<tr class="acc-unedit">
									<th style="width: 16%">资产</th>
									<th style="width: 17%">本期比上期增加额</th>
									<th style="width: 17%">本期比上期增加率</th>
									<th style="width: 16%">负债及所有者权益</th>
									<th style="width: 17%">本期比上期增加额</th>
									<th style="width: 17%">本期比上期增加率</th>
								</tr>
								<tr class="acc-unedit">
									<th style="text-align: left">流动资产：</th>
									<td></td>
									<td></td>
									<th style="text-align: left">流动负债：</th>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td class="acc-unedit">货币资金</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">短期借款</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">金融资产</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">金融负债</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">应收票据</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">应付票据</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">应收账款</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">应付账款</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">预付账款</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">预收账款</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">应收利息</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">应付职工薪酬</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">应收股利</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">应交税费</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">其他应收款</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">应付利息</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">存货</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">应付股利</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">一年内到期的非流动资产</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">其他应付款</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">其他流动资产</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">一年内到期的非流动负债</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<th class="acc-unedit">流动资产合计</th>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">其他流动负债</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>

								<tr>
									<th class="acc-unedit" style="text-align: left">非流动资产：</th>
									<td class="acc-unedit"></td>
									<td class="acc-unedit"></td>
									<th class="acc-unedit">流动负债合计</th>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">可供出售金融资产</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<th class="acc-unedit" style="text-align: left">非流动负债：</th>
									<td class="acc-unedit"></td>
									<td class="acc-unedit"></td>
								</tr>
								<tr>
									<td class="acc-unedit">持有至到期投资</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">长期借款</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">长期应收款</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">应付债券</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">长期股权投资</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">长期应付款</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">投资性房地产</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">预计负债</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">固定资产</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">递延所得税负债</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">在建工程</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">其他非流动负债</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">工程物资</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<th class="acc-unedit">非流动负债合计</th>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">固定资产清理</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<th class="acc-unedit">负债合计</th>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">无形资产</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<th class="acc-unedit" style="text-align: left">所有者权益：</th>
									<td class="acc-unedit"></td>
									<td class="acc-unedit"></td>
								</tr>
								<tr>
									<td class="acc-unedit">开发支出</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">实收资本（股本）</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">长期待摊费用</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">资本公积</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">递延所得税资产</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">盈余公积</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">其他非流动资产</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<td class="acc-unedit">未分配利润</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<th class="acc-unedit">非流动资产合计</th>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<th class="acc-unedit">所有者权益合计</th>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<th class="acc-unedit">资产总计</th>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
									<th class="acc-unedit">负债及所有者权益总计</th>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
							</table>

							<p class="acc-title">结论：</p>
							<textarea class="form-control" rows="5"></textarea>
							<hr class="simple" style="clear: both;" color="#6f5499" />
							<div align="right">
                                <button type="button" class="btn btn-info" onclick="">
							        <span class="glyphicon"></span>&nbsp;保存
						        </button>
								<button type="button" class="btn btn-success" id="">
									<span class="glyphicon"></span>&nbsp;提交
								</button>
							</div>
						</div>
						<!-- 第二标签 -->
						<div role="tabpanel" class="tab-pane fade" id="Profit">
							<table class="table table-bordered acc-container-tableformat">
								<tr class="acc-unedit">
									<th style="width: 50%;">项目</th>
									<th style="width: 25%;">本期比上期增加额</th>
									<th style="width: 25%;">本期比上期增加率</th>
								</tr>
								<tr>
									<th class="acc-unedit" style="text-align: left">一、营业收入</th>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">减：营业成本</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">税金及附加</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">销售费用</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">管理费用</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">财务费用</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">资产减值损失</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">加：公允价值变动收益（损失以“-”号填列）</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">投资收益（损失以“-”号填列）</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>

								<tr>
									<th class="acc-unedit" style="text-align: left">二、营业利润（亏损以“-”号填列）</th>
									<td class="acc-unedit"></td>
									<td class="acc-unedit"></td>
								</tr>
								<tr>
									<td class="acc-unedit">加：营业外收入</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">其中：对联营企业和合营企业的投资收益</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">减：营业外支出</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">其中，非流动资产处置损失</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>

								<tr>
									<th class="acc-unedit" style="text-align: left">三、利润总额（亏损总额以“-”号填列）</th>
									<td class="acc-unedit"></td>
									<td class="acc-unedit"></td>
								</tr>
								<tr>
									<td class="acc-unedit">减：所得税费用</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>

								<tr>
									<th class="acc-unedit" style="text-align: left">四、净利润（净亏损以“-”号填列）</th>
									<td class="acc-unedit"></td>
									<td class="acc-unedit"></td>
								</tr>

								<tr class="acc-unedit">
									<th style="text-align: left">五、其他综合收益的税后净额</th>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td class="acc-unedit">（一）以后不能重分类净损益的其他综合收益</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">（二）以后将重分类净损益的其他综合收益</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>

								<tr class="acc-unedit">
									<th style="text-align: left">六、综合收益总额</th>
									<td></td>
									<td></td>
								</tr>

								<tr class="acc-unedit">
									<th style="text-align: left">七、每股收益</th>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td class="acc-unedit">（一）基本每股收益</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
								<tr>
									<td class="acc-unedit">（二）稀释每股收益</td>
									<td contentEditable="true"></td>
									<td contentEditable="true"></td>
								</tr>
							</table>

							<p class="acc-title">结论：</p>
							<textarea class="form-control" rows="5"></textarea>
							<hr class="simple" style="clear: both;" color="#6f5499" />
							<div align="right">
                                <button type="button" class="btn btn-info" onclick="">
							        <span class="glyphicon"></span>&nbsp;保存
						        </button>
								<button type="button" class="btn btn-success" id="">
									<span class="glyphicon"></span>&nbsp;提交
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 防尾前移 -->
<div class="acc-container-separate"></div>

{% endblock courseBody %}
