{% extends 'course/courseBase.html' %}
{% block courseBody %}
    <div class="courseBody">
        <!-- 习题主体 -->
        <link href="{{ url_for('static', filename='css/course/coursevii.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/ajax/course/coursevii.js') }}" charset="UTF-8"></script>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
				<span>1、理解会计账簿的分类；<br/>2、掌握明细账的登记方法。
				</span>
                </div>
                <div class="panel-body">
                    <div style="text-align: center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li><a href="#" aria-label="Previous"> <span
                                        aria-hidden="true">&laquo;</span>
                                </a></li>
                                <li class="active" id="coursevii_split_li_1"><a onclick="coursevii_li_control(1)">1</a>
                                </li>
                                <li id="coursevii_split_li_2"><a onclick="coursevii_li_control(2)">2</a></li>
                                <li id="coursevii_split_li_3"><a onclick="coursevii_li_control(3)">3</a></li>
                                <li id="coursevii_split_li_4"><a onclick="coursevii_li_control(4)">4</a></li>
                                <li id="coursevii_split_li_5"><a onclick="coursevii_li_control(5)">5</a></li>
                                <li id="coursevii_split_li_6"><a onclick="coursevii_li_control(6)">6</a></li>
                                <li id="coursevii_split_li_7"><a onclick="coursevii_li_control(7)">7</a></li>
                                <li id="coursevii_split_li_8"><a onclick="coursevii_li_control(8)">8</a></li>
                                <li id="coursevii_split_li_9"><a onclick="coursevii_li_control(9)">9</a></li>
                                <li id="coursevii_split_li_10"><a onclick="coursevii_li_control(10)">10</a></li>
                                <li id="coursevii_split_li_11"><a onclick="coursevii_li_control(11)">11</a></li>
                                <li id="coursevii_split_li_12"><a onclick="coursevii_li_control(12)">12</a></li>
                                <li id="coursevii_split_li_13"><a onclick="coursevii_li_control(13)">13</a></li>
                                <li id="coursevii_split_li_14"><a onclick="coursevii_li_control(14)">14</a></li>
                                <li id="coursevii_split_li_15"><a onclick="coursevii_li_control(15)">15</a></li>
                                <li id="coursevii_split_li_16"><a onclick="coursevii_li_control(16)">16</a></li>
                                <li id="coursevii_split_li_17"><a onclick="coursevii_li_control(17)">17</a></li>
                                <li id="coursevii_split_li_18"><a onclick="coursevii_li_control(18)">18</a></li>
                                <li id="coursevii_split_li_19"><a onclick="coursevii_li_control(19)">19</a></li>
                                <li id="coursevii_split_li_20"><a onclick="coursevii_li_control(20)">20</a></li>
                                <li><a href="#" aria-label="Next"> <span
                                        aria-hidden="true">&raquo;</span>
                                </a></li>
                            </ul>
                        </nav>
                    </div>
                    <hr class="simple" style="color: #6f5499"/>
                    <!-- 业务一 -->
                    <div>
                        <div class="acc-container-answer">
                            <blockquote>
                                <label id="business_type_7" class="label label-success"></label>
                                <p id="business_content_7">
                                </p>
                            </blockquote>
                        </div>
                        <div class="acc-container-answer">
                            <!-- 作业标签 -->
                            <ul class="nav nav-tabs">
                                <li role="presentation" class="active" onclick="get_subsidiary_account_info()"><a
                                        href="#first"
                                        aria-controls="first" role="tab"
                                        data-toggle="tab">登记各账户明细账</a></li>
                                <li role="presentation" onclick="get_acc_balance_sheet_info()"><a href="#second"
                                                                                                  aria-controls="second"
                                                                                                  role="tab"
                                                                                                  data-toggle="tab">登记科目余额表</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <!-- 第一标签 -->
                                <div role="tabpanel" class="tab-pane active in fade" id="first">
                                    <div>
                                        <p class="ats-fontsize-20">1、登记各账户明细账</p>
                                        <p class="help-block">温馨提示：1.填写完当前账户信息后应手动保存，防止信息丢失。<br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            2.<span style="color: #5cb85c">绿色</span>表示当前账户已确认提交。<br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            3.<span style="color: #5bc0de">淡蓝色</span>表示当前账户已保存。<br/>
                                        </p>
                                        <div class="table-responsive">
                                            <div id="tablePanel">

                                                <table class="table table-bordered ats-vouchertable" style="border: 0;">
                                                    <tbody id="detailed">
                                                    <tr>
                                                        <td colspan="37" style="border: 0">
                                                            <div style="text-align: center">
                                                                <label>
                                                                    <select id="subjectSelect" class="form-control"
                                                                            style="width: auto; display: inline-block;"
                                                                            onchange="get_subsidiary_account_info()">
                                                                        <option id="anchorOption"
                                                                                style="display: none"></option>
                                                                    </select>
                                                                </label>
                                                                <p style="font-size: 24px; display: inline-block;">明&nbsp;细&nbsp;账</p>
                                                                <span id="subsidiary_account_submit_span"
                                                                      class="glyphicon glyphicon-ok"
                                                                      style="color: #5cb85c;font-size: medium;display: none">已完成</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-right: 0;padding: 4px;width: auto;height: auto">
                                                            <label><input id="yearNow"
                                                                          style="width: 40px;height: 100%;border-bottom-style: solid;border-bottom-color: #0f0f0f"
                                                                          name="year"></label></td>
                                                        <th style="border-left: 0;">年</th>
                                                        <th class="ats-tablecolor-f" colspan="2">记账凭证</th>
                                                        <th class="ats-tablecolor-f" rowspan="2">摘要</th>
                                                        <th class="ats-tablecolor-f" colspan="10">借方</th>
                                                        <th class="ats-tablecolor-f" colspan="10">贷方</th>
                                                        <th class="ats-tablecolor-f" rowspan="2">方向</th>
                                                        <th class="ats-tablecolor-f" colspan="10">余额</th>
                                                    </tr>
                                                    <tr class="ats-tablecolor-f">
                                                        <th>月</th>
                                                        <th>日</th>
                                                        <th>字</th>
                                                        <th>号</th>

                                                        <th>千</th>
                                                        <th>百</th>
                                                        <th>十</th>
                                                        <th>万</th>
                                                        <th>千</th>
                                                        <th>百</th>
                                                        <th>十</th>
                                                        <th>元</th>
                                                        <th>角</th>
                                                        <th>分</th>

                                                        <th>千</th>
                                                        <th>百</th>
                                                        <th>十</th>
                                                        <th>万</th>
                                                        <th>千</th>
                                                        <th>百</th>
                                                        <th>十</th>
                                                        <th>元</th>
                                                        <th>角</th>
                                                        <th>分</th>

                                                        <th>千</th>
                                                        <th>百</th>
                                                        <th>十</th>
                                                        <th>万</th>
                                                        <th>千</th>
                                                        <th>百</th>
                                                        <th>十</th>
                                                        <th>元</th>
                                                        <th>角</th>
                                                        <th>分</th>
                                                    </tr>
                                                    <tr id="period1Vii1Row1">
                                                        <td><label><input name="month" title="月"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td><label><input name="day" title="日"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td><label><input name="word" title="字"
                                                                          onkeyup="illegalCharFilter(this)"></label>
                                                        <td><label><input name="no" title="号"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td style="background-color: #f5f5f5; height:auto;padding: 4px;width: 200px">
                                                            <label><input
                                                                    style="background-color: #f5f5f5;"
                                                                    disabled="disabled" name="summary"
                                                                    value="期初余额"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>

                                                        <td><label><input name='orientation'
                                                                          onkeyup="limitJieDai(this)"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <th style="width: 1%;height: auto; border: 0; background: #ffffff;padding: 4px">
                                                            <div style="text-align: center">
                                                                <a style="color: green; padding: 0 0" type="button"
                                                                   class="btn" onclick="vii1_AddRow(true)"><span
                                                                        class="glyphicon glyphicon-plus-sign"></span></a>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                    <tr id="period1Vii1Row2">
                                                        <td><label><input name="month" title="月"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td><label><input name="day" title="日"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td><label><input name="word" title="字"
                                                                          onkeyup="illegalCharFilter(this)"></label>
                                                        <td><label><input name="no" title="号"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td><label><input name="summary"
                                                                          onkeyup="illegalCharFilter(this)"></label>
                                                        </td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>

                                                        <td><label><input name='orientation'
                                                                          onkeyup="limitJieDai(this)"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                    </tr>
                                                    <tr id="period1Vii1RowLast">
                                                        <td><label><input name="month" title="月"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td><label><input name="day" title="日"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td><label><input name="word" title="字"
                                                                          onkeyup="illegalCharFilter(this)"></label>
                                                        <td><label><input name="no" title="号"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td style="background-color: #f5f5f5; padding: 4px">
                                                            <label><input
                                                                    style="background-color: #f5f5f5;"
                                                                    disabled="disabled" name="summary"
                                                                    value="本期合计"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>

                                                        <td><label><input name='orientation'
                                                                          onkeyup="limitJieDai(this)"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                    </tr>
                                                    <tr id="period2Vii1Row1">
                                                        <td><label><input name="month" title="月"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td><label><input name="day" title="日"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td><label><input name="word" title="字"
                                                                          onkeyup="illegalCharFilter(this)"></label>
                                                        <td><label><input name="no" title="号"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td style="background-color: #f5f5f5;height: auto"><label><input
                                                                style="background-color: #f5f5f5;" disabled="disabled"
                                                                name="summary"
                                                                value="期初余额"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>

                                                        <td><label><input name='orientation'
                                                                          onkeyup="limitJieDai(this)"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <th style="width: 1%;height: auto;border: 0;background: #ffffff;padding: 4px">
                                                            <div style="text-align: center">
                                                                <a style="color: green; padding: 0 0" type="button"
                                                                   class="btn" onclick="vii1_AddRow(false)"><span
                                                                        class="glyphicon glyphicon-plus-sign"></span></a>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                    <tr id="period2Vii1Row2">
                                                        <td><label><input name="month" title="月"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td><label><input name="day" title="日"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td><label><input name="word" title="字"
                                                                          onkeyup="illegalCharFilter(this)"></label>
                                                        <td><label><input name="no" title="号"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td><label><input name="summary"
                                                                          onkeyup="illegalCharFilter(this)"></label>
                                                        </td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>

                                                        <td><label><input name='orientation'
                                                                          onkeyup="limitJieDai(this)"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                    </tr>
                                                    <tr id="period2Vii1RowLast">
                                                        <td><label><input name="month" title="月"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td><label><input name="day" title="日"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td><label><input name="word" title="字"
                                                                          onkeyup="illegalCharFilter(this)"></label>
                                                        <td><label><input name="no" title="号"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td style="background-color: #f5f5f5;"><label><input
                                                                name="summary"
                                                                style="background-color: #f5f5f5;" disabled="disabled"
                                                                value="本期合计"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>

                                                        <td><label><input name='orientation'
                                                                          onkeyup="limitJieDai(this)"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                    </tr>
                                                    <tr id="Vii1RowEnd">
                                                        <td><label><input name="month" title="月"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td><label><input name="day" title="日"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td><label><input name="word" title="字"
                                                                          onkeyup="illegalCharFilter(this)"></label>
                                                        <td><label><input name="no" title="号"
                                                                          onkeyup="limit_number(this)"></label>
                                                        <td style="background-color: #f5f5f5;"><label><input
                                                                style="background-color: #f5f5f5;" disabled="disabled"
                                                                value="本年累计" name="summary"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>

                                                        <td><label><input name='orientation'
                                                                          onkeyup="limitJieDai(this)"></label></td>

                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                        <td><label><input onkeyup="limit_number(this)"></label></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <hr class="simple" style="clear: both;color: #6f5499"/>
                                    <div style="text-align: right;">
                                        <div id="course_vii1_message"></div>
                                        <button type="button" class="btn btn-info" id="save_subsidiary_account_button"
                                                onclick="save_subsidiary_account()">
                                            <span class="glyphicon"></span>&nbsp;保存
                                        </button>
                                        <button type="button" class="btn btn-success"
                                                id="confirm_subsidiary_account_button"
                                                onclick="confirm_subsidiary_account()">
                                            <span class="glyphicon"></span>&nbsp;提交
                                        </button>
                                    </div>
                                </div>
                                <!-- 第二标签 -->
                                <div role="tabpanel" class="tab-pane fade" id="second">
                                    <div>
                                        <p class="ats-fontsize-20">2、登记科目余额表<span class="glyphicon glyphicon-ok"
                                                                                  id="acc_balance_sheet_submit_span"
                                                                                  style="color: #5cb85c;font-size: medium;display:none;">
                                    已完成</span></p>

                                        <div class="container">
                                            <table class="table table-bordered ats-vouchertable"
                                                   style="border: 0">
                                                <tbody>
                                                <tr>
                                                    <th rowspan="2" class="ats-tablecolor-f">会计科目</th>
                                                    <th colspan="2" class="ats-tablecolor-f">期初余额</th>
                                                    <th colspan="2" class="ats-tablecolor-f">本期发生额</th>
                                                    <th colspan="2" class="ats-tablecolor-f">期末余额</th>
                                                </tr>
                                                <tr>
                                                    <th class="ats-tablecolor-f">借方</th>
                                                    <th class="ats-tablecolor-f">贷方</th>
                                                    <th class="ats-tablecolor-f">借方</th>
                                                    <th class="ats-tablecolor-f">贷方</th>
                                                    <th class="ats-tablecolor-f">借方</th>
                                                    <th class="ats-tablecolor-f">贷方</th>
                                                    <td style="padding: 4px; border: 0; width: 5%">
                                                        <div style="text-align: center">
                                                            <a style="color: green;" type="button" class="btn"
                                                               onclick="vii2_AddRow()"><span
                                                                    class="glyphicon glyphicon-plus-sign"></span></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr id="vii2Row1">
                                                    <td><label><input name="subject" title="科目"
                                                                      onkeyup="illegalCharFilter(this)"></label></td>
                                                    <td><label><input name="borrow_1" title="金额￥"
                                                                      onkeyup="limit_number(this)"></label></td>
                                                    <td><label><input name="lend_1" title="金额￥"
                                                                      onkeyup="limit_number(this)"></label></td>
                                                    <td><label><input name="borrow_2" title="金额￥"
                                                                      onkeyup="limit_number(this)"></label></td>
                                                    <td><label><input name="lend_2" title="金额￥"
                                                                      onkeyup="limit_number(this)"></label></td>
                                                    <td><label><input name="borrow_3" title="金额￥"
                                                                      onkeyup="limit_number(this)"></label></td>
                                                    <td><label><input name="lend_3" title="金额￥"
                                                                      onkeyup="limit_number(this)"></label></td>
                                                </tr>
                                                <tr id="vii2RowLast">
                                                    <td class="ats-tablecolor-f">合计</td>
                                                    <td><label><input name="borrow_1" title="金额￥"
                                                                      onkeyup="limit_number(this)"></label></td>
                                                    <td><label><input name="lend_1" title="金额￥"
                                                                      onkeyup="limit_number(this)"></label></td>
                                                    <td><label><input name="borrow_2" title="金额￥"
                                                                      onkeyup="limit_number(this)"></label></td>
                                                    <td><label><input name="lend_2" title="金额￥"
                                                                      onkeyup="limit_number(this)"></label></td>
                                                    <td><label><input name="borrow_3" title="金额￥"
                                                                      onkeyup="limit_number(this)"></label></td>
                                                    <td><label><input name="lend_3" title="金额￥"
                                                                      onkeyup="limit_number(this)"></label></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <hr class="simple" style="clear: both;color: #6f5499"/>
                                    <div class="container" style="text-align: right;">
                                        <div id="course_vii2_message"></div>
                                        <button type="button" class="btn btn-info" id="save_acc_balance_sheet_button"
                                                onclick="save_acc_balance_sheet()">
                                            <span class="glyphicon"></span>&nbsp;保存
                                        </button>
                                        <button type="button" class="btn btn-success"
                                                id="confirm_acc_balance_sheet_button"
                                                onclick="confirm_acc_balance_sheet()">
                                            <span class="glyphicon"></span>&nbsp;提交
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 防尾前移 -->
    <div class="acc-container-separate"></div>

{% endblock courseBody %}
