{% extends 'course/courseBase.html' %}
{% block courseBody %}
<script charset="UTF-8" src="{{ url_for('static', filename='js/course/courseiii.js') }}"></script>
<!--第三次课程-->
<div class="courseBody">
    <!-- 习题主体 -->
    <div class="container">
        <div class="panel panel-default">
            <!--作业要求-->
            <div class="panel-heading">
                <span>1、掌握并识记常用会计科目。 </span>
            </div>
            <div class="panel-body">
                <div class="acc-pn-center">
                    <nav aria-label="Page navigation">
                        <ul data-page class="pagination">
                            <li data-page-control><a aria-hidden="true">&laquo;</a></li>
                            <li data-page-control><a aria-hidden="true">‹</a></li>
                            <li data-page-control class="active"><a>1</a></li>
                            <li data-page-control><a>2</a></li>
                            <li data-page-control><a>3</a></li>
                            <li data-page-control><a>4</a></li>
                            <li data-page-control><a>5</a></li>
                            <li data-page-control><a aria-hidden="true">›</a></li>
                            <li data-page-control><a aria-hidden="true">&raquo;</a></li>
                        </ul>
                    </nav>
                </div>
                <hr class="simple"/>
                <!-- 业务 -->
                <div>
                    <p class="help-block">温馨提示：完成当前业务信息后应手动保存，防止信息丢失。
                        <em class="acc-score-help">&nbsp;/&nbsp;总得分</em>
                        <em class="acc-score-help">当前</em>
                    </p>
                    <h4>
                        <span class="glyphicon glyphicon-bookmark"></span> <em id="em_no"></em>
                        <span id="submit_status_span" class="glyphicon glyphicon-ok acc-completed">已完成</span>
                        <em data-total-score></em>
                        <em data-now-score></em>
                    </h4>
                    <div class="acc-container-answer">
                        <blockquote>
                            <label id="business_type" class="label label-success"></label>
                            <p id="business_content"></p>
                        </blockquote>
                    </div>
                    <div class="acc-container-answer">
                        <p class="acc-title">涉及到的会计科目及增减变化</p>
                        <p class="help-block">温馨提示：可通过 <kbd>Ctrl + f</kbd> 快速搜索所需会计科目。</p>
                        <!--三色盒子-->
                        <!--默认盒子-->
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="panel panel-default acc-tricolor-default">
                                    <div class="panel-heading">
                                        <!--选项目录-->
                                        <nav class="navbar navbar-default">
                                            <ul class="nav navbar-nav">
                                                <li class="active" role="presentation">
                                                    <a aria-controls="Asset" data-toggle="tab" href="#Asset" role="tab">
                                                        资产类
                                                    </a>
                                                </li>
                                                <li role="presentation">
                                                    <a aria-controls="Liabilities" data-toggle="tab" href="#Liabilities"
                                                       role="tab">
                                                        负债类
                                                    </a>
                                                </li>
                                                <li role="presentation">
                                                    <a aria-controls="equity" data-toggle="tab" href="#equity"
                                                       role="tab">
                                                        权益类
                                                    </a>
                                                </li>
                                                <li role="presentation">
                                                    <a aria-controls="cost" data-toggle="tab" href="#cost" role="tab">
                                                        成本类
                                                    </a>
                                                </li>
                                                <li role="presentation">
                                                    <a aria-controls="profitLoss" data-toggle="tab" href="#profitLoss"
                                                       role="tab">
                                                        损益类
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                        <div class="tab-content" id="allbox">
                                            <!-- 第一标签 -->
                                            <div class="tab-pane active in fade" id="Asset" role="tabpanel">
                                                <div class="pre-scrollable" id="assetbox">
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="库存现金">库存现金
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="银行存款">银行存款
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="其他货币资金">其他货币资金
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="交易性金融资产">交易性金融资产
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="应收票据">应收票据
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="应收账款">应收账款
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="预付账款">预付账款
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="应收股利">应收股利
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="应收利息">应收利息
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="其他应收款">其他应收款
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="坏账准备">坏账准备
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="材料采购">材料采购
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="在途物资">在途物资
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="原材料">原材料
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="材料成本差异">材料成本差异
                                                    </label>
                                                    <label> <input data-type="assetbox" type="checkbox" name="库存商品">库存商品
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="发出商品">发出商品
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="商品进销差价">商品进销差价
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="委托加工物资">委托加工物资
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="存货跌价准备">存货跌价准备
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="持有至到期投资">持有至到期投资
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="持有至到期投资减值准备">持有至到期投资减值准备
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="可供出售金融资产">可供出售金融资产
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="长期股权投资">长期股权投资
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="长期股权投资减值准备">长期股权投资减值准备
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="投资性房地产">投资性房地产
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="长期应收款">长期应收款
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="固定资产">固定资产
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="累计折旧">累计折旧
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="固定资产减值准备">固定资产减值准备
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="在建工程">在建工程
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="工程物资">工程物资
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="固定资产清理">固定资产清理
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="无形资产">无形资产
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="累计摊销">累计摊销
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="无形资产减值准备">无形资产减值准备
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="商誉">商誉
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="递延所得税资产">递延所得税资产
                                                    </label>
                                                    <label>
                                                        <input data-type="assetbox" type="checkbox" name="待处理财产损溢">待处理财产损溢
                                                    </label>
                                                </div>
                                            </div>
                                            <!-- 第二标签 -->
                                            <div class="tab-pane fade" id="Liabilities" role="tabpanel">
                                                <div class="pre-scrollable" id="liabilitiesbox">
                                                    <label>
                                                        <input data-type="liabilitiesbox" type="checkbox" name="短期借款">短期借款
                                                    </label>
                                                    <label>
                                                        <input data-type="liabilitiesbox" type="checkbox" name="应付票据">应付票据
                                                    </label>
                                                    <label>
                                                        <input data-type="liabilitiesbox" type="checkbox" name="应付账款">应付账款
                                                    </label>
                                                    <label>
                                                        <input data-type="liabilitiesbox" type="checkbox" name="预收账款">预收账款
                                                    </label>
                                                    <label>
                                                        <input data-type="liabilitiesbox" type="checkbox" name="应付职工薪酬">应付职工薪酬
                                                    </label>
                                                    <label>
                                                        <input data-type="liabilitiesbox" type="checkbox" name="应交税费">应交税费
                                                    </label>
                                                    <label>
                                                        <input data-type="liabilitiesbox" type="checkbox" name="应付利息">应付利息
                                                    </label>
                                                    <label>
                                                        <input data-type="liabilitiesbox" type="checkbox" name="应付股利">应付股利
                                                    </label>
                                                    <label>
                                                        <input data-type="liabilitiesbox" type="checkbox" name="其他应付款">其他应付款
                                                    </label>
                                                    <label>
                                                        <input data-type="liabilitiesbox" type="checkbox" name="长期借款">长期借款
                                                    </label>
                                                    <label>
                                                        <input data-type="liabilitiesbox" type="checkbox" name="应付债券">应付债券
                                                    </label>
                                                    <label>
                                                        <input data-type="liabilitiesbox" type="checkbox" name="长期应付款">长期应付款
                                                    </label>
                                                    <label>
                                                        <input data-type="liabilitiesbox" type="checkbox" name="专项应付款">专项应付款
                                                    </label>
                                                    <label>
                                                        <input data-type="liabilitiesbox" type="checkbox" name="预计负债">预计负债
                                                    </label>
                                                </div>
                                            </div>
                                            <!-- 第三标签 -->
                                            <div class="tab-pane fade" id="equity" role="tabpanel">
                                                <div class="pre-scrollable" id="equitybox">
                                                    <label>
                                                        <input data-type="equitybox" type="checkbox" name="递延所得税负债">递延所得税负债
                                                    </label>
                                                    <label>
                                                        <input data-type="equitybox" type="checkbox" name="实收资本">实收资本
                                                    </label>
                                                    <label>
                                                        <input data-type="equitybox" type="checkbox" name="资本公积">资本公积
                                                    </label>
                                                    <label>
                                                        <input data-type="equitybox" type="checkbox" name="盈余公积">盈余公积
                                                    </label>
                                                    <label>
                                                        <input data-type="equitybox" type="checkbox" name="本年利润">本年利润
                                                    </label>
                                                    <label>
                                                        <input data-type="equitybox" type="checkbox" name="利润分配">利润分配
                                                    </label>
                                                </div>
                                            </div>
                                            <!-- 第四标签 -->
                                            <div class="tab-pane fade" id="cost" role="tabpanel">
                                                <div class="pre-scrollable" id="costbox">
                                                    <label>
                                                        <input data-type="costbox" type="checkbox" name="生产成本">生产成本
                                                    </label>
                                                    <label>
                                                        <input data-type="costbox" type="checkbox" name="制造费用">制造费用
                                                    </label>
                                                    <label>
                                                        <input data-type="costbox" type="checkbox" name="劳务成本">劳务成本
                                                    </label>
                                                    <label>
                                                        <input data-type="costbox" type="checkbox" name="研发支出">研发支出
                                                    </label>
                                                </div>
                                            </div>
                                            <!-- 第五标签 -->
                                            <div class="tab-pane fade" id="profitLoss" role="tabpanel">
                                                <div class="pre-scrollable" id="profitlossbox">
                                                    <label>
                                                        <input data-type="profitlossbox" type="checkbox" name="主营业务收入">主营业务收入
                                                    </label>
                                                    <label>
                                                        <input data-type="profitlossbox" type="checkbox" name="其他业务收入">其他业务收入
                                                    </label>
                                                    <label>
                                                        <input data-type="profitlossbox" type="checkbox"
                                                               name="公允价值变动损益">公允价值变动损益
                                                    </label>
                                                    <label>
                                                        <input data-type="profitlossbox" type="checkbox" name="投资收益">投资收益
                                                    </label>
                                                    <label>
                                                        <input data-type="profitlossbox" type="checkbox" name="营业外收入">营业外收入
                                                    </label>
                                                    <label>
                                                        <input data-type="profitlossbox" type="checkbox" name="主营业务成本">主营业务成本
                                                    </label>
                                                    <label>
                                                        <input data-type="profitlossbox" type="checkbox" name="其他业务成本">其他业务成本
                                                    </label>
                                                    <label>
                                                        <input data-type="profitlossbox" type="checkbox" name="税金及附加">税金及附加
                                                    </label>
                                                    <label>
                                                        <input data-type="profitlossbox" type="checkbox" name="销售费用">销售费用
                                                    </label>
                                                    <label>
                                                        <input data-type="profitlossbox" type="checkbox" name="财务费用">财务费用
                                                    </label>
                                                    <label>
                                                        <input data-type="profitlossbox" type="checkbox" name="资产减值损失">资产减值损失
                                                    </label>
                                                    <label>
                                                        <input data-type="profitlossbox" type="checkbox" name="营业外支出">营业外支出
                                                    </label>
                                                    <label>
                                                        <input data-type="profitlossbox" type="checkbox" name="所得税费用">所得税费用
                                                    </label>
                                                    <label>
                                                        <input data-type="profitlossbox" type="checkbox"
                                                               name="以前年度损益调整">以前年度损益调整
                                                    </label>
                                                    <label><input data-type="profitlossbox" type="checkbox" name="管理费用">管理费用
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--增加/减少/撤销按钮-->
                            <!--<div class="acc-tricolor-btn">
                                <div>
                                    <div>
                                        <button class="btn btn-success" data-all-to-1 type="button">增加
                                        </button>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary" data-to-all-1 type="button">撤销
                                        </button>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <button class="btn btn-danger" data-all-to-2 type="button">减少
                                        </button>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary" data-to-all-2 type="button">撤销
                                        </button>
                                    </div>
                                </div>
                            </div>-->
                            <!--增加盒子 浅绿-->
                            <div class="col-sm-6 col-xs-12">
                                <div class="acc-tricolor-scsAndDg">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <button class="btn btn-success" data-all-to-1 type="button">增加
                                            </button>
                                            <button class="btn btn-primary" data-to-all-1 type="button">撤销
                                            </button>
                                            <hr class="simple"/>
                                            <div class="pre-scrollable" id="plusbox">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--减少盒子 浅红-->
                                <div class="acc-tricolor-scsAndDg">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <button class="btn btn-danger" data-all-to-2 type="button">减少
                                            </button>
                                            <button class="btn btn-primary" data-to-all-2 type="button">撤销
                                            </button>
                                            <hr class="simple"/>
                                            <div class="pre-scrollable" id="minusbox">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="simple"/>
                <!--信息提示窗口-->
                <div id="course_iii_message">
                </div>
                <div class="acc-btn-left">
                    <button type="button" class="btn btn-info" data-answer>查看答案</button>
                </div>
                <div class="acc-btn-right">
                    <button class="btn btn-info" data-save type="button">
                        <span class="glyphicon"></span>保存
                    </button>
                    <button class="btn btn-success" data-confirm type="button">
                        <span class="glyphicon"></span>提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 防尾前移 -->
<div class="acc-container-separate"></div>

{% endblock courseBody %}
