{% extends 'course/courseBase.html' %}
{% block courseBody %}
    <link href="http://cdn.accoj.top/static/accoj-1.0.0/courseviii.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/course/courseviii.js') }}" charset="UTF-8"></script>
    <!--第八次课程-->
    <div class="courseBody">
        <!-- 习题主体 -->
        <div class="container">
            <div class="panel panel-default">
                <!--作业要求-->
                <div class="panel-heading">
                <span>1、掌握资产负债表和利润表的填制方法。
                </span>
                    </br>
                    <strong>4、你需要完成的题目有：</strong><strong id="selfQuestion"></strong>
                </div>
                <div class="panel-body">
                    <!-- 作业标签 -->
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active">
                            <a href="#viiiFirst" aria-controls="viiiFirst" role="tab" data-toggle="tab">资产负债表</a>
                        </li>
                        <li role="presentation">
                            <a href="#viiiSecond" aria-controls="viiiSecond" role="tab" data-toggle="tab">利润表</a>
                        </li>
                    </ul>

                <div class="tab-content">
                    <!-- 第一标签 -->
                    <div role="tabpanel" class="tab-pane active in fade" id="viiiFirst">
                        <div class="help-block">
                            <em class="acc-score-help">&nbsp;/&nbsp;总得分</em>
                            <em class="acc-score-help">当前</em>
                        </div>
                        <p class="acc-title">1、编写资产负债表
                            <span id="new_balance_sheet_span" class="glyphicon glyphicon-ok acc-completed">已完成</span>
                        </p>
                        <div>
                            &nbsp;
                            <em data-total-score-1></em>
                            <em data-now-score-1></em>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered acc-container-tableformat acc-table-sm">
                                <tbody>
                                <tr class="acc-unedit">
                                    <th colspan="2">
                                        <span id="com_name_1" style="float: left;">编制单位：{{ username }}</span>
                                    </th>
                                    <th colspan="2">
                                        <span>2020年2月28日</span>
                                    </th>
                                    <th colspan="2">
                                        <span style="float: right;">单位：元</span>
                                    </th>
                                </tr>
                                <tr class="acc-unedit acc-table-format-8-1">
                                    <th>资产</th>
                                <th>期末余额</th>
                                <th>上期余额</th>
                                <th>负债及所有者权益</th>
                                <th>期末余额</th>
                                <th>上期余额</th>
                            </tr>
                            <tr class="acc-unedit">
                                <th style="text-align: left">流动资产：</th>
                                <td></td>
                                <td></td>
                                <th style="text-align: left">流动负债：</th>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">货币资金</td>
                                <td><label><input name="货币资金End"></label></td>
                                <td><label><input name="货币资金Last"></label></td>
                                <td class="acc-unedit">短期借款</td>
                                <td><label><input name="短期借款End"></label></td>
                                <td><label><input name="短期借款Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">交易性金融资产</td>
                                <td><label><input name="交易性金融资产"></label></td>
                                <td><label><input name="交易性金融资产"></label></td>
                                <td class="acc-unedit">交易性金融负债</td>
                                <td><label><input name="交易性金融负债End"></label></td>
                                <td><label><input name="交易性金融负债Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">应收票据</td>
                                <td><label><input name="应收票据End"></label></td>
                                <td><label><input name="应收票据Last"></label></td>
                                <td class="acc-unedit">应付票据</td>
                                <td><label><input name="应付票据End"></label></td>
                                <td><label><input name="应付票据Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">应收账款</td>
                                <td><label><input name="应收账款End"></label></td>
                                <td><label><input name="应收账款Last"></label></td>
                                <td class="acc-unedit">应付账款</td>
                                <td><label><input name="应付账款End"></label></td>
                                <td><label><input name="应付账款Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">预付账款</td>
                                <td><label><input name="预付账款End"></label></td>
                                <td><label><input name="预付账款Last"></label></td>
                                <td class="acc-unedit">预收账款</td>
                                <td><label><input name="预收账款End"></label></td>
                                <td><label><input name="预收账款Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">应收利息</td>
                                <td><label><input name="应收利息End"></label></td>
                                <td><label><input name="应收利息Last"></label></td>
                                <td class="acc-unedit">应付职工薪酬</td>
                                <td><label><input name="应付职工薪酬End"></label></td>
                                <td><label><input name="应付职工薪酬Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">应收股利</td>
                                <td><label><input name="应收股利End"></label></td>
                                <td><label><input name="应收股利Last"></label></td>
                                <td class="acc-unedit">应交税费</td>
                                <td><label><input name="应交税费End"></label></td>
                                <td><label><input name="应交税费Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">其他应收款</td>
                                <td><label><input name="其他应收款End"></label></td>
                                <td><label><input name="其他应收款Last"></label></td>
                                <td class="acc-unedit">应付利息</td>
                                <td><label><input name="应付利息End"></label></td>
                                <td><label><input name="应付利息Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">存货</td>
                                <td><label><input name="存货End"></label></td>
                                <td><label><input name="存货Last"></label></td>
                                <td class="acc-unedit">应付股利</td>
                                <td><label><input name="应付股利End"></label></td>
                                <td><label><input name="应付股利Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">一年内到期的非流动资产</td>
                                <td><label><input name="一年内到期的非流动资产End"></label></td>
                                <td><label><input name="一年内到期的非流动资产Last"></label></td>
                                <td class="acc-unedit">其他应付款</td>
                                <td><label><input name="其他应付款End"></label></td>
                                <td><label><input name="其他应付款Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">其他流动资产</td>
                                <td><label><input name="其他流动资产End"></label></td>
                                <td><label><input name="其他流动资产Last"></label></td>
                                <td class="acc-unedit">一年内到期的非流动负债</td>
                                <td><label><input name="一年内到期的非流动负债End"></label></td>
                                <td><label><input name="一年内到期的非流动负债Last"></label></td>
                            </tr>
                            <tr>
                                <th class="acc-unedit">流动资产合计</th>
                                <td><label><input name="流动资产合计End"></label></td>
                                <td><label><input name="流动资产合计Last"></label></td>
                                <td class="acc-unedit">其他流动负债</td>
                                <td><label><input name="其他流动负债End"></label></td>
                                <td><label><input name="其他流动负债Last"></label></td>
                            </tr>

                            <tr>
                                <th class="acc-unedit" style="text-align: left">非流动资产：</th>
                                <td class="acc-unedit"></td>
                                <td class="acc-unedit"></td>
                                <th class="acc-unedit">流动负债合计</th>
                                <td><label><input name="流动负债合计End"></label></td>
                                <td><label><input name="流动负债合计Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">可供售出金融资产</td>
                                <td><label><input name="可供售出金融资产End"></label></td>
                                <td><label><input name="可供售出金融资产Last"></label></td>
                                <th class="acc-unedit" style="text-align: left">非流动负债：</th>
                                <td class="acc-unedit"></td>
                                <td class="acc-unedit"></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">持有至到期投资</td>
                                <td><label><input name="持有至到期投资End"></label></td>
                                <td><label><input name="持有至到期投资Last"></label></td>
                                <td class="acc-unedit">长期借款</td>
                                <td><label><input name="长期借款End"></label></td>
                                <td><label><input name="长期借款Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">长期应收款</td>
                                <td><label><input name="长期应收款End"></label></td>
                                <td><label><input name="长期应收款Last"></label></td>
                                <td class="acc-unedit">应付债券</td>
                                <td><label><input name="应付债券End"></label></td>
                                <td><label><input name="应付债券Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">长期股权投资</td>
                                <td><label><input name="长期股权投资End"></label></td>
                                <td><label><input name="长期股权投资"></label></td>
                                <td class="acc-unedit">长期应付款</td>
                                <td><label><input name="长期应付款End"></label></td>
                                <td><label><input name="长期应付款Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">投资性房地产</td>
                                <td><label><input name="投资性房地产End"></label></td>
                                <td><label><input name="投资性房地产Last"></label></td>
                                <td class="acc-unedit">预计负债</td>
                                <td><label><input name="预计负债End"></label></td>
                                <td><label><input name="预计负债Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">固定资产</td>
                                <td><label><input name="固定资产End"></label></td>
                                <td><label><input name="固定资产Last"></label></td>
                                <td class="acc-unedit">递延所得税负债</td>
                                <td><label><input name="递延所得税负债End"></label></td>
                                <td><label><input name="递延所得税负债Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">在建工程</td>
                                <td><label><input name="在建工程End"></label></td>
                                <td><label><input name="在建工程Last"></label></td>
                                <td class="acc-unedit">其他非流动负债</td>
                                <td><label><input name="其他非流动负债End"></label></td>
                                <td><label><input name="其他非流动负债Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">工程物资</td>
                                <td><label><input name="工程物资End"></label></td>
                                <td><label><input name="工程物资Last"></label></td>
                                <th class="acc-unedit">非流动负债合计</th>
                                <td><label><input name="非流动负债合计End"></label></td>
                                <td><label><input name="非流动负债合计Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">固定资产清理</td>
                                <td><label><input name="固定资产清理End"></label></td>
                                <td><label><input name="固定资产清理Last"></label></td>
                                <th class="acc-unedit">负债合计</th>
                                <td><label><input name="负债合计End"></label></td>
                                <td><label><input name="负债合计Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">无形资产</td>
                                <td><label><input name="无形资产End"></label></td>
                                <td><label><input name="无形资产Last"></label></td>
                                <th class="acc-unedit" style="text-align: left">所有者权益：</th>
                                <td class="acc-unedit"></td>
                                <td class="acc-unedit"></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">开发支出</td>
                                <td><label><input name="开发支出End"></label></td>
                                <td><label><input name="开发支出Last"></label></td>
                                <td class="acc-unedit">实收资本（股本）</td>
                                <td><label><input name="实收资本End"></label></td>
                                <td><label><input name="实收资本Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">长期待摊费用</td>
                                <td><label><input name="长期待摊费用End"></label></td>
                                <td><label><input name="长期待摊费用Last"></label></td>
                                <td class="acc-unedit">资本公积</td>
                                <td><label><input name="资本公积End"></label></td>
                                <td><label><input name="资本公积Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">递延所得税资产</td>
                                <td><label><input name="递延所得税资产End"></label></td>
                                <td><label><input name="递延所得税资产Last"></label></td>
                                <td class="acc-unedit">盈余公积</td>
                                <td><label><input name="盈余公积End"></label></td>
                                <td><label><input name="盈余公积Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">其他非流动资产</td>
                                <td><label><input name="其他非流动资产End"></label></td>
                                <td><label><input name="其他非流动资产Last"></label></td>
                                <td class="acc-unedit">未分配利润</td>
                                <td><label><input name="未分配利润End"></label></td>
                                <td><label><input name="未分配利润Last"></label></td>
                            </tr>
                            <tr>
                                <th class="acc-unedit">非流动资产合计</th>
                                <td><label><input name="非流动资产合计End"></label></td>
                                <td><label><input name="非流动资产合计Last"></label></td>
                                <th class="acc-unedit">所有者权益合计</th>
                                <td><label><input name="所有者权益合计End"></label></td>
                                <td><label><input name="所有者权益合计Last"></label></td>
                            </tr>
                            <tr>
                                <th class="acc-unedit">资产总计</th>
                                <td><label><input name="资产总计End"></label></td>
                                <td><label><input name="资产总计Last"></label></td>
                                <th class="acc-unedit">负债及所有者权益总计</th>
                                <td><label><input name="负债及所有者权益总计End"></label></td>
                                <td><label><input name="负债及所有者权益总计Last"></label></td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                        <hr class="simple"/>
                        <!--信息提示窗口-->
                        <div id="course_viii1_message"></div>
                        <div class="acc-btn-left">
                            <button type="button" class="btn btn-info" data-answer-1>查看答案</button>
                        </div>
                        <div class="acc-btn-right">
                            <button type="button" class="btn btn-info" data-save-1>
                                <span class="glyphicon"></span>保存
                            </button>
                            <button type="button" class="btn btn-success" data-confirm-1>
                                <span class="glyphicon"></span>提交
                            </button>
                        </div>
                    </div>
                    <!-- 第二标签 -->
                    <div role="tabpanel" class="tab-pane fade" id="viiiSecond">
                        <div class="help-block">
                            <em class="acc-score-help">&nbsp;/&nbsp;总得分</em>
                            <em class="acc-score-help">当前</em>
                        </div>
                        <p class="acc-title">2、编写利润表
                            <span id="profit_statement_span" class="glyphicon glyphicon-ok acc-completed"> 已完成</span>
                        </p>
                        <div>
                            &nbsp;
                            <em data-total-score-2></em>
                            <em data-now-score-2></em>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered acc-container-tableformat acc-table-sm">
                                <tbody>
                                <tr class="acc-unedit">
                                    <th colspan="3">
                                        <span id="com_name_2" style="float: left;">编制单位：{{ username }}</span>
                                        <span>2020年2月</span>
                                        <span style="float: right;">单位：元</span>
                                    </th>
                                </tr>
                                <tr class="acc-unedit acc-table-format-8-2">
                                    <th>项目</th>
                                    <th>本期金额</th>
                                    <th>上期金额</th>
                                </tr>
                                <tr>
                                <th class="acc-unedit" style="text-align: left">一、营业收入</th>
                                <td><label><input name="营业收入End"></label></td>
                                <td><label><input name="营业收入Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">减：营业成本</td>
                                <td><label><input name="营业成本End"></label></td>
                                <td><label><input name="营业成本Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">税金及附加</td>
                                <td><label><input name="税金及附加End"></label></td>
                                <td><label><input name="税金及附加Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">销售费用</td>
                                <td><label><input name="销售费用End"></label></td>
                                <td><label><input name="销售费用Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">管理费用</td>
                                <td><label><input name="管理费用End"></label></td>
                                <td><label><input name="管理费用Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">财务费用</td>
                                <td><label><input name="财务费用End"></label></td>
                                <td><label><input name="财务费用Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">资产减值损失</td>
                                <td><label><input name="资产减值损失End"></label></td>
                                <td><label><input name="资产减值损失Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">加：公允价值变动损益（损失以“-”号填列）</td>
                                <td><label><input name="公允价值变动损益End"></label></td>
                                <td><label><input name="公允价值变动损益Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">投资收益（损失以“-”号填列）</td>
                                <td><label><input name="投资收益End"></label></td>
                                <td><label><input name="投资收益Last"></label></td>
                            </tr>
                            <tr>
                                <th class="acc-unedit" style="text-align: left">二、营业利润（亏损以“-”号填列）</th>
                                <td class="acc-unedit">
                                    <label>
                                        <input class="acc-unedit" name="营业利润End" disabled="disabled">
                                    </label>
                                </td>
                                <td class="acc-unedit">
                                    <label>
                                        <input class="acc-unedit" name="营业利润Last" disabled="disabled">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">加：营业外收入</td>
                                <td><label><input name="营业外收入End"></label></td>
                                <td><label><input name="营业外收入Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">其中：对联营企业和合营企业的投资收益</td>
                                <td><label><input name="对联营企业和合营企业的投资收益End"></label></td>
                                <td><label><input name="对联营企业和合营企业的投资收益Last"></label>
                                </td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">减：营业外支出</td>
                                <td><label><input name="营业外支出End"></label></td>
                                <td><label><input name="营业外支出Last"></label></td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">其中，非流动资产处置损失</td>
                                <td><label><input name="非流动资产处置损失End"></label></td>
                                <td><label><input name="非流动资产处置损失Last"></label></td>
                            </tr>
                            <tr>
                                <th class="acc-unedit" style="text-align: left">三、利润总额（亏损总额以“-”号填列）</th>
                                <td class="acc-unedit">
                                    <label>
                                        <input class="acc-unedit" name="利润总额End" disabled="disabled"></label></td>
                                <td class="acc-unedit">
                                    <label>
                                        <input class="acc-unedit" name="利润总额Last" disabled="disabled">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="acc-unedit">减：所得税费用</td>
                                <td><label><input name="所得税费用End"></label></td>
                                <td><label><input name="所得税费用Last"></label></td>
                            </tr>
                            <tr>
                                <th class="acc-unedit" style="text-align: left">四、净利润（净亏损以“-”号填列）</th>
                                <td class="acc-unedit">
                                    <label>
                                        <input class="acc-unedit" name="净利润End" disabled="disabled">
                                    </label>
                                </td>
                                <td class="acc-unedit">
                                    <label>
                                        <input class="acc-unedit" name="净利润Last" disabled="disabled">
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                        <hr class="simple"/>
                        <div id="course_viii2_message"></div>
                        <div class="acc-btn-left">
                            <button type="button" class="btn btn-info" data-answer-2>查看答案</button>
                        </div>
                        <div class="acc-btn-right">
                            <button type="button" class="btn btn-info" data-save-2>
                                <span class="glyphicon"></span>保存
                            </button>
                            <button type="button" class="btn btn-success" data-confirm-2>
                                <span class="glyphicon"></span>提交
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 防尾前移 -->
<div class="acc-container-separate"></div>

{% endblock courseBody %}
