{% extends 'course/courseBase.html' %}
{% block courseBody %}
    <div class="courseBody">
        <!-- 习题主体 -->
        <link href="{{ url_for('static', filename='css/course/courseviii.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/ajax/course/courseviii.js') }}" charset="UTF-8"></script>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>1、掌握资产负债表和利润表的填制方法。 </span>
                </div>
                <div class="panel-body">
                    <!-- 作业标签 -->
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active" onclick="get_new_balance_sheet_info()"><a
                                href="#viiiFirst"
                                aria-controls="viiiFirst" role="tab"
                                data-toggle="tab">资产负债表</a>
                        </li>
                        <li role="presentation" onclick="get_profit_statement_info()"><a href="#viiiSecond"
                                                                                         aria-controls="viiiSecond"
                                                                                         role="tab" data-toggle="tab">利润表</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <!-- 第一标签 -->
                        <div role="tabpanel" class="tab-pane active in fade" id="viiiFirst">
                            <p class="ats-fontsize-20">1、编写资产负债表
                                <span id="new_balance_sheet_span"
                                      class="glyphicon glyphicon-ok"
                                      style="color: #5cb85c;font-size: medium;display:none;">已完成</span>
                            </p>

                            <table class="table table-bordered ats-vouchertable">
                                <tr class="ats-tablecolor-f">
                                    <th style="width: 16%">资产</th>
                                    <th style="width: 17%">期末余额</th>
                                    <th style="width: 17%">上期余额</th>
                                    <th style="width: 16%">负债及所有者权益</th>
                                    <th style="width: 17%">期末余额</th>
                                    <th style="width: 17%">上期余额</th>
                                </tr>
                                <tr class="ats-tablecolor-f">
                                    <th style="text-align: left">流动资产：</th>
                                    <td></td>
                                    <td></td>
                                    <th style="text-align: left">流动负债：</th>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">货币资金</td>
                                    <td><label><input name="货币资金End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="货币资金Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">短期借款</td>
                                    <td><label><input name="短期借款End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="短期借款Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">金融资产</td>
                                    <td><label><input name="金融资产End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="金融资产Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">金融负债</td>
                                    <td><label><input name="金融负债End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="金融负债Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">应收票据</td>
                                    <td><label><input name="应收票据End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="应收票据Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">应付票据</td>
                                    <td><label><input name="应付票据End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="应付票据Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">应收账款</td>
                                    <td><label><input name="应收账款End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="应收账款Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">应付账款</td>
                                    <td><label><input name="应付账款End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="应付账款Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">预付账款</td>
                                    <td><label><input name="预付账款End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="预付账款Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">预收账款</td>
                                    <td><label><input name="预收账款End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="预收账款Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">应收利息</td>
                                    <td><label><input name="应收利息End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="应收利息Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">应付职工薪酬</td>
                                    <td><label><input name="应付职工薪酬End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="应付职工薪酬Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">应收股利</td>
                                    <td><label><input name="应收股利End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="应收股利Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">应交税费</td>
                                    <td><label><input name="应交税费End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="应交税费Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">其他应收款</td>
                                    <td><label><input name="其他应收款End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="其他应收款Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">应付利息</td>
                                    <td><label><input name="应付利息End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="应付利息Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">存货</td>
                                    <td><label><input name="存货End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="存货Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">应付股利</td>
                                    <td><label><input name="应付股利End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="应付股利Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">一年内到期的非流动资产</td>
                                    <td><label><input name="一年内到期的非流动资产End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="一年内到期的非流动资产Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">其他应付款</td>
                                    <td><label><input name="其他应付款End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="其他应付款Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">其他流动资产</td>
                                    <td><label><input name="其他流动资产End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="其他流动资产Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">一年内到期的非流动负债</td>
                                    <td><label><input name="一年内到期的非流动负债End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="一年内到期的非流动负债Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <th class="ats-tablecolor-f">流动资产合计</th>
                                    <td><label><input name="流动资产合计End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="流动资产合计Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">其他流动负债</td>
                                    <td><label><input name="其他流动负债End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="其他流动负债Last" onkeyup="limit_number(this)"></label></td>
                                </tr>

                                <tr>
                                    <th class="ats-tablecolor-f" style="text-align: left">非流动资产：</th>
                                    <td class="ats-tablecolor-f"></td>
                                    <td class="ats-tablecolor-f"></td>
                                    <th class="ats-tablecolor-f">流动负债合计</th>
                                    <td><label><input name="流动负债合计End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="流动负债合计Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">可供出售金融资产</td>
                                    <td><label><input name="可供出售金融资产End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="可供出售金融资产Last" onkeyup="limit_number(this)"></label></td>
                                    <th class="ats-tablecolor-f" style="text-align: left">非流动负债：</th>
                                    <td class="ats-tablecolor-f"></td>
                                    <td class="ats-tablecolor-f"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">持有至到期投资</td>
                                    <td><label><input name="持有至到期投资End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="持有至到期投资Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">长期借款</td>
                                    <td><label><input name="长期借款End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="长期借款Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">长期应收款</td>
                                    <td><label><input name="长期应收款End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="长期应收款Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">应付债券</td>
                                    <td><label><input name="应付债券End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="应付债券Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">长期股权投资</td>
                                    <td><label><input name="长期股权投资End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="长期股权投资" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">长期应付款</td>
                                    <td><label><input name="长期应付款End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="长期应付款Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">投资性房地产</td>
                                    <td><label><input name="投资性房地产End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="投资性房地产Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">预计负债</td>
                                    <td><label><input name="预计负债End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="预计负债Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">固定资产</td>
                                    <td><label><input name="固定资产End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="固定资产Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">递延所得税负债</td>
                                    <td><label><input name="递延所得税负债End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="递延所得税负债Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">在建工程</td>
                                    <td><label><input name="在建工程End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="在建工程Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">其他非流动负债</td>
                                    <td><label><input name="其他非流动负债End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="其他非流动负债Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">工程物资</td>
                                    <td><label><input name="工程物资End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="工程物资Last" onkeyup="limit_number(this)"></label></td>
                                    <th class="ats-tablecolor-f">非流动负债合计</th>
                                    <td><label><input name="非流动负债合计End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="非流动负债合计Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">固定资产清理</td>
                                    <td><label><input name="固定资产清理End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="固定资产清理Last" onkeyup="limit_number(this)"></label></td>
                                    <th class="ats-tablecolor-f">负债合计</th>
                                    <td><label><input name="负债合计End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="负债合计Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">无形资产</td>
                                    <td><label><input name="无形资产End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="无形资产Last" onkeyup="limit_number(this)"></label></td>
                                    <th class="ats-tablecolor-f" style="text-align: left">所有者权益：</th>
                                    <td class="ats-tablecolor-f"></td>
                                    <td class="ats-tablecolor-f"></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">开发支出</td>
                                    <td><label><input name="开发支出End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="开发支出Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">实收资本（股本）</td>
                                    <td><label><input name="实收资本End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="实收资本Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">长期待摊费用</td>
                                    <td><label><input name="长期待摊费用End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="长期待摊费用Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">资本公积</td>
                                    <td><label><input name="资本公积End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="资本公积Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">递延所得税资产</td>
                                    <td><label><input name="递延所得税资产End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="递延所得税资产Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">盈余公积</td>
                                    <td><label><input name="盈余公积End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="盈余公积Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">其他非流动资产</td>
                                    <td><label><input name="其他非流动资产End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="其他非流动资产Last" onkeyup="limit_number(this)"></label></td>
                                    <td class="ats-tablecolor-f">未分配利润</td>
                                    <td><label><input name="未分配利润End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="未分配利润Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <th class="ats-tablecolor-f">非流动资产合计</th>
                                    <td><label><input name="非流动资产合计End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="非流动资产合计Last" onkeyup="limit_number(this)"></label></td>
                                    <th class="ats-tablecolor-f">所有者权益合计</th>
                                    <td><label><input name="所有者权益合计End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="所有者权益合计Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                                <tr>
                                    <th class="ats-tablecolor-f">资产总计</th>
                                    <td><label><input name="资产总计End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="资产总计Last" onkeyup="limit_number(this)"></label></td>
                                    <th class="ats-tablecolor-f">负债及所有者权益总计</th>
                                    <td><label><input name="负债及所有者权益总计End" onkeyup="limit_number(this)"></label></td>
                                    <td><label><input name="负债及所有者权益总计Last" onkeyup="limit_number(this)"></label></td>
                                </tr>
                            </table>
                            <hr class="simple" style="clear: both;color: #6f5499"/>
                            <div style="text-align: right">
                                <div id="course_viii1_message"></div>
                                <button type="button" class="btn btn-info" id="save_new_balance_sheet_button"
                                        onclick="save_new_balance_sheet()">
                                    <span class="glyphicon"></span>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-success"
                                        id="confirm_new_balance_sheet_button"
                                        onclick="confirm_new_balance_sheet()">
                                    <span class="glyphicon"></span>&nbsp;提交
                                </button>
                            </div>
                        </div>


                        <!-- 第二标签 -->
                        <div role="tabpanel" class="tab-pane fade" id="viiiSecond">
                            <p class="ats-fontsize-20">2、编写利润表
                                <span id="profit_statement_span"
                                      class="glyphicon glyphicon-ok"
                                      style="color: #5cb85c;font-size: medium;display:none;">
                                已完成</span></p>

                            <table class="table table-bordered ats-vouchertable">
                                <tr class="ats-tablecolor-f">
                                    <th style="width: 50%;">项目</th>
                                    <th style="width: 25%;">本期金额</th>
                                    <th style="width: 25%;">上期金额</th>
                                </tr>
                                <tr>
                                    <th class="ats-tablecolor-f" style="text-align: left">一、营业收入</th>
                                    <td><label><input name="营业收入End" onkeyup="RealNumber(this)"></label></td>
                                    <td><label><input name="营业收入Last" onkeyup="RealNumber(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">减：营业成本</td>
                                    <td><label><input name="营业成本End" onkeyup="RealNumber(this)"></label></td>
                                    <td><label><input name="营业成本Last" onkeyup="RealNumber(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">税金及附加</td>
                                    <td><label><input name="税金及附加End" onkeyup="RealNumber(this)"></label></td>
                                    <td><label><input name="税金及附加Last" onkeyup="RealNumber(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">销售费用</td>
                                    <td><label><input name="销售费用End" onkeyup="RealNumber(this)"></label></td>
                                    <td><label><input name="销售费用Last" onkeyup="RealNumber(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">管理费用</td>
                                    <td><label><input name="管理费用End" onkeyup="RealNumber(this)"></label></td>
                                    <td><label><input name="管理费用Last" onkeyup="RealNumber(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">财务费用</td>
                                    <td><label><input name="财务费用End" onkeyup="RealNumber(this)"></label></td>
                                    <td><label><input name="财务费用Last" onkeyup="RealNumber(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">资产减值损失</td>
                                    <td><label><input name="资产减值损失End" onkeyup="RealNumber(this)"></label></td>
                                    <td><label><input name="资产减值损失Last" onkeyup="RealNumber(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">加：公允价值变动收益（损失以“-”号填列）</td>
                                    <td><label><input name="公允价值变动收益End" onkeyup="RealNumber(this)"></label></td>
                                    <td><label><input name="公允价值变动收益Last" onkeyup="RealNumber(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">投资收益（损失以“-”号填列）</td>
                                    <td><label><input name="投资收益End" onkeyup="RealNumber(this)"></label></td>
                                    <td><label><input name="投资收益Last" onkeyup="RealNumber(this)"></label></td>
                                </tr>

                                <tr>
                                    <th class="ats-tablecolor-f" style="text-align: left">二、营业利润（亏损以“-”号填列）</th>
                                    <td class="ats-tablecolor-f"><label><input name="营业利润End" onkeyup="RealNumber(this)"
                                                                               disabled="disabled"
                                                                               style="background-color: #f5f5f5"></label>
                                    </td>
                                    <td class="ats-tablecolor-f"><label><input name="营业利润Last"
                                                                               onkeyup="RealNumber(this)"
                                                                               disabled="disabled"
                                                                               style="background-color: #f5f5f5"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">加：营业外收入</td>
                                    <td><label><input name="营业外收入End" onkeyup="RealNumber(this)"></label></td>
                                    <td><label><input name="营业外收入Last" onkeyup="RealNumber(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">其中：对联营企业和合营企业的投资收益</td>
                                    <td><label><input name="对联营企业和合营企业的投资收益End" onkeyup="RealNumber(this)"></label></td>
                                    <td><label><input name="对联营企业和合营企业的投资收益Last" onkeyup="RealNumber(this)"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">减：营业外支出</td>
                                    <td><label><input name="营业外支出End" onkeyup="RealNumber(this)"></label></td>
                                    <td><label><input name="营业外支出Last" onkeyup="RealNumber(this)"></label></td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">其中，非流动资产处置损失</td>
                                    <td><label><input name="非流动资产处置损失End" onkeyup="RealNumber(this)"></label></td>
                                    <td><label><input name="非流动资产处置损失Last" onkeyup="RealNumber(this)"></label></td>
                                </tr>

                                <tr>
                                    <th class="ats-tablecolor-f" style="text-align: left">三、利润总额（亏损总额以“-”号填列）</th>
                                    <td class="ats-tablecolor-f"><label><input name="利润总额End" onkeyup="RealNumber(this)"
                                                                               disabled="disabled"
                                                                               style="background-color: #f5f5f5"></label>
                                    </td>
                                    <td class="ats-tablecolor-f"><label><input name="利润总额Last"
                                                                               onkeyup="RealNumber(this)"
                                                                               disabled="disabled"
                                                                               style="background-color: #f5f5f5"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ats-tablecolor-f">减：所得税费用</td>
                                    <td><label><input name="所得税费用End" onkeyup="RealNumber(this)"></label></td>
                                    <td><label><input name="所得税费用Last" onkeyup="RealNumber(this)"></label></td>
                                </tr>

                                <tr>
                                    <th class="ats-tablecolor-f" style="text-align: left">四、净利润（净亏损以“-”号填列）</th>
                                    <td class="ats-tablecolor-f"><label><input name="净利润End" onkeyup="RealNumber(this)"
                                                                               disabled="disabled"
                                                                               style="background-color: #f5f5f5"></label>
                                    </td>
                                    <td class="ats-tablecolor-f"><label><input name="净利润Last"
                                                                               onkeyup="RealNumber(this)"
                                                                               disabled="disabled"
                                                                               style="background-color: #f5f5f5"></label>
                                    </td>
                                </tr>
                            </table>
                            <hr class="simple" style="clear: both;color:#6f5499 "/>
                            <div style="text-align: right">
                                <div id="course_viii2_message"></div>
                                <button type="button" class="btn btn-info" id="save_profit_statement_button"
                                        onclick="save_profit_statement()">
                                    <span class="glyphicon"></span>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-success"
                                        id="confirm_profit_statement_button"
                                        onclick="confirm_profit_statement()">
                                    <span class="glyphicon"></span>&nbsp;提交
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 防尾前移 -->
    <div class="ats-rock"></div>

{% endblock courseBody %}
