{% extends 'course/courseBase.html' %} {% block courseBody %}
<div class="courseBody">
	<!--习题主体-->
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span>1、理解会计凭证的分类。<br /> 2、了解各类原始凭证。<br /> 3、掌握记账凭证的填制方法。
				</span>
			</div>
			<div class="panel-body">
				<div align="center">
					<nav aria-label="Page navigation">
						<ul class="pagination">
							<li><a href="#" aria-label="Previous"> <span
									aria-hidden="true">&laquo;</span>
							</a></li>
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">4</a></li>
							<li><a href="">5</a></li>
							<li><a href="">6</a></li>
							<li><a href="">7</a></li>
							<li><a href="">8</a></li>
							<li><a href="">9</a></li>
							<li><a href="">10</a></li>
							<li><a href="">11</a></li>
							<li><a href="">12</a></li>
							<li><a href="">13</a></li>
							<li><a href="">14</a></li>
							<li><a href="">15</a></li>
							<li><a href="">16</a></li>
							<li><a href="">17</a></li>
							<li><a href="">18</a></li>
							<li><a href="">19</a></li>
							<li><a href="">20</a></li>
							<li><a href="#" aria-label="Next"> <span
									aria-hidden="true">&raquo;</span>
							</a></li>
						</ul>
					</nav>
				</div>
				<hr class="simple" color="#6f5499" />

				<h4>
					<span class="glyphicon glyphicon-bookmark"></span> <em>01</em>
				</h4>
				<div class="ats-subject" style="margin-bottom: 30px">
					<blockquote>
						<label class="label  label-success">筹资活动</label>
						<p>
							<span class="font-red">2020</span>年<span class="font-red">01</span>月<span
								class="font-red">01</span>日，从中国建设银行取得<span class="font-red">3</span>年期贷款<span
								class="font-red">12</span>%，按年结算利息。
						</p>
					</blockquote>
				</div>
				<div class="ats-board">
					<div>

						<p class="ats-fontsize-20">1、上传原始凭证（上传图片或文档）</p>
						<form>
							<div class="form-group">
								<label for="uploadfiles"><span
									class="glyphicon glyphicon-upload"></span> Upload files </label> <input
									type="file" id="uploadfiles">
								<p class="help-block">本功能暂未开放！</p>
							</div>
						</form>

						<p class="ats-fontsize-20">2、填制记账凭证：</p>
						<table class="table table-bordered ats-vouchertable">
							<tr>
								<th colspan="23" class="ats-tablecolor-f">记账凭证</th>
							</tr>
							<tr>
								<th colspan="1" style="border-right: 0px;">记<input
									type="number" min="1" class="ats-vouchertable-input">号
								</th>
								<th colspan="18" style="border-left: 0px; border-right: 0px;">日期：<input
									type="date" style="border: 0px"></th>
								<th colspan="5" style="border-left: 0px;">附单据<input
									type="number" min="1" class="ats-vouchertable-input">张
								</th>
							</tr>
							<tr class="ats-tablecolor-f">
								<th rowspan="2" style="width: 10%">摘要</th>
								<th rowspan="2" style="width: 10%">总账科目</th>
								<th rowspan="2" style="width: 10%">明细科目</th>
								<th colspan="10" style="width: 30%">借方金额</th>
								<th colspan="10" style="width: 30%">贷方金额</th>
							</tr>
							<tr class="ats-tablecolor-f">
								<th>千</th>
								<th>百</th>
								<th>十</th>
								<th>万</th>
								<th>千</th>
								<th>百</th>
								<th>十</th>
								<th>元</th>
								<th>角</th>
								<th>分</th>
								<th>千</th>
								<th>百</th>
								<th>十</th>
								<th>万</th>
								<th>千</th>
								<th>百</th>
								<th>十</th>
								<th>元</th>
								<th>角</th>
								<th>分</th>
							</tr>
							<!-- 第一行 -->
							<tr>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
							</tr>
							<!-- 第二行 -->
							<tr>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
							</tr>
							<tr>
								<th colspan="3" class="ats-tablecolor-f">合计</th>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
								<td contentEditable="true"></td>
							</tr>
							<tr class="ats-tablecolor-f">
								<th colspan="23" style="text-align: left;">制表人：Admin</th>
							</tr>
						</table>
					</div>
				</div>
				<hr class="simple" style="clear: both;" color="#6f5499" />
				<div align="right">
					<button type="button" class="btn btn-success" id="">
						<span class="glyphicon"></span>&nbsp;提交
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock courseBody %}
