{% extends 'course/courseBase.html' %}
{% block courseBody %}
<!-- courseiv css -->
<link href="http://cdn.accoj.top/static/accoj-1.0.0/courseiv.css"
      rel="stylesheet">
<script src="{{url_for('static', filename='js/course/courseiv.js')}}" charset="UTF-8"></script>
    <!--第四次课程-->
    <div class="courseBody">
        <!-- 习题主体 -->
        <div class="container">
            <div class="panel panel-default">
                <!--作业要求-->
                <div class="panel-heading">
				<span>1、掌握借贷记账法的原理：包括账户结构、记账规则、会计分录编写规范。<br/> 2、理解并运用常用会计科目。
				</span>
                    </br>
                    <strong>3、你需要完成的题目有：</strong><strong id="selfQuestion"></strong>
                </div>
                <div class="panel-body">
                    <div class="acc-pn-center">
                        <nav aria-label="Page navigation">
                            <ul data-page class="pagination">
                                <li data-page-control><a aria-hidden="true">&laquo;</a></li>
                                <li data-page-control><a aria-hidden="true">‹</a></li>
                                <li data-page-control class="active"><a>1</a></li>
                                <li data-page-control><a>2</a></li>
                                <li data-page-control><a>3</a></li>
                                <li data-page-control><a>4</a></li>
                                <li data-page-control><a>5</a></li>
                                <li data-page-control><a aria-hidden="true">›</a></li>
                                <li data-page-control><a aria-hidden="true">&raquo;</a></li>
                            </ul>
                        </nav>
                    </div>
                    <hr class="simple"/>
                    <p class="help-block">温馨提示：
                    <p class="help-block">1.完成当前业务信息后应手动保存，防止信息丢失。</p>
                    <p class="help-block">2.提交前确保所有题目已保存，防止丢分。</p>

                    <em class="acc-score-help">&nbsp;/&nbsp;总得分</em>
                    <em class="acc-score-help">当前</em>
                    </p>
                    <h4>
                        <span class="glyphicon glyphicon-bookmark"></span> <em id="em_no"></em>
                        <span id="submit_status_span" class="glyphicon glyphicon-ok acc-completed">已完成</span>
                        <em data-total-score></em>
                        <em data-now-score></em>
                    </h4>
                    <div class="acc-container-answer">
                        <blockquote>
                            <label id="business_type" class="label label-success"></label>
                            <p id="business_content"></p>
                        </blockquote>
                    </div>
                    <div class="acc-container-answer">
                        <div>
                            <p class="acc-title">填写完整分录</p>
                            <table class="table table-bordered acc-unborder">
                                <tbody>
                                <tr class="acc-table-format-4-1">
                                    <th class="acc-unedit">借：</th>
                                <td class="acc-unedit"></td>
                                <td>
                                    <label>
                                        <input type="text" name="subject" data-illegal-char
                                               id="subject1" placeholder="科目">
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="text" name="money" id="money1" placeholder="0.0" data-real-number>
                                    </label>
                                </td>
                                <td>
                                    <div class="acc-plus">
                                        <a type="button" class="btn" data-iv-addRow-1 data-toggle="tooltip" data-placement="left" title="增加行">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr id="borrowRowAfter" class="acc-table-format-4-1">
                                <td class="acc-unedit"></td>
                                <th class="acc-unedit">贷：</th>
                                <td>
                                    <label>
                                        <input type="text" name="subject" data-illegal-char id="subject0" placeholder="科目">
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="text" name="money" id="money0" placeholder="0.0" data-real-number>
                                    </label>
                                </td>
                                <td>
                                    <div class="acc-plus">
                                        <a type="button" class="btn" data-iv-addRow-2 data-toggle="tooltip" data-placement="left" title="增加行">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                                <tr id="loanRowAfter"></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr class="simple"/>
                    <!--信息提示窗口-->
                    <div id="course_iv_message"></div>
                    <div class="acc-btn-left">
                        <button type="button" class="btn btn-info" data-answer>查看答案</button>
                    </div>
                    <div class="acc-btn-right">
                        <button class="btn btn-info" data-save type="button">
                            <span class="glyphicon"></span>保存
                        </button>
                        <button type="button" class="btn btn-success " data-toggle="tooltip" data-placement="top"
                                title="请保存所有题目再提交" data-confirm>
                            <span class="glyphicon"></span>提交
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 防尾前移 -->
    <div class="acc-container-separate"></div>

{% endblock courseBody %}
