{% extends 'course/courseBase.html' %}


{% block courseBody %}
    <div class="courseBody">
        <!-- 习题主体 -->
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
				<span>1、理解六大会计要素及含义。<br/> 2、掌握会计等式，了解业务发生对会计等式的影响。
				</span>
                </div>
                <div class="panel-body">
                    <div align="center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li><a href="#" aria-label="Previous"> <span
                                        aria-hidden="true">&laquo;</span>
                                </a></li>
                                <li class="active"><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">5</a></li>
                                <li><a href="">6</a></li>
                                <li><a href="">7</a></li>
                                <li><a href="">8</a></li>
                                <li><a href="">9</a></li>
                                <li><a href="">10</a></li>
                                <li><a href="">11</a></li>
                                <li><a href="">12</a></li>
                                <li><a href="">13</a></li>
                                <li><a href="">14</a></li>
                                <li><a href="">15</a></li>
                                <li><a href="">16</a></li>
                                <li><a href="">17</a></li>
                                <li><a href="">18</a></li>
                                <li><a href="">19</a></li>
                                <li><a href="">20</a></li>
                                <li><a href="#" aria-label="Next"> <span
                                        aria-hidden="true">&raquo;</span>
                                </a></li>
                            </ul>
                        </nav>
                    </div>
                    <hr class="simple" color="#6f5499"/>
                    <!-- 业务一 -->
                    <div>
                        <h4><span class="glyphicon glyphicon-bookmark"></span>
                            <em>01</em></h4>
                        <div class="ats-subject">
                            <blockquote>
                                <label class="label  label-success">筹资活动</label>
                                <p><span class="font-red">2020</span>年<span class="font-red">01</span>月<span
                                        class="font-red">01</span>日，从中国建设银行取得<span class="font-red">3</span>年期贷款<span
                                        class="font-red">12</span>%，按年结算利息。</p>
                            </blockquote>
                        </div>
                        <div class="ats-board">
                            <div style="">
                                <p class="ats-fontsize-20">1、会计要素及增减金额</p>
                            </div>

                            <form class="" id="courseii-1">
                                <label class="sr-only" for="assets"></label>
                                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                    <div class="input-group">
									<span class="input-group-addon"> <input type="checkbox"
                                                                            aria-label="...">
									</span>
                                        <div class="input-group-addon">资产</div>
                                        <input type="text" class="form-control  input-sm" id="assets"
                                               placeholder="0.0">
                                        <div class="input-group-addon">￥</div>
                                    </div>
                                </div>

                                <label class="sr-only" for="liabilities"></label>
                                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                    <div class="input-group">
									<span class="input-group-addon"> <input type="checkbox"
                                                                            aria-label="...">
									</span>
                                        <div class="input-group-addon">负债</div>
                                        <input type="text" class="form-control  input-sm"
                                               id="liabilities" placeholder="0.0">
                                        <div class="input-group-addon">￥</div>
                                    </div>
                                </div>

                                <label class="sr-only" for="income"></label>
                                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                    <div class="input-group">
									<span class="input-group-addon"> <input type="checkbox"
                                                                            aria-label="...">
									</span>
                                        <div class="input-group-addon">收入</div>
                                        <input type="text" class="form-control  input-sm" id="income"
                                               placeholder="0.0">
                                        <div class="input-group-addon">￥</div>
                                    </div>
                                </div>

                                <label class="sr-only" for="cost"></label>
                                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                    <div class="input-group">
									<span class="input-group-addon"> <input type="checkbox"
                                                                            aria-label="...">
									</span>
                                        <div class="input-group-addon">费用</div>
                                        <input type="text" class="form-control  input-sm" id="cost"
                                               placeholder="0.0">
                                        <div class="input-group-addon">￥</div>
                                    </div>
                                </div>

                                <label class="sr-only" for="profit"></label>
                                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                    <div class="input-group">
									<span class="input-group-addon"> <input type="checkbox"
                                                                            aria-label="...">
									</span>
                                        <div class="input-group-addon">利润</div>
                                        <input type="text" class="form-control  input-sm" id="profit"
                                               placeholder="0.0">
                                        <div class="input-group-addon">￥</div>
                                    </div>
                                </div>

                                <label class="sr-only" for="ownerequity"></label>
                                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                    <div class="input-group">
									<span class="input-group-addon"> <input type="checkbox"
                                                                            aria-label="...">
									</span>
                                        <div class="input-group-addon">所有者权益</div>
                                        <input type="text" class="form-control  input-sm"
                                               id="ownerequity" placeholder="0.0">
                                        <div class="input-group-addon">￥</div>
                                    </div>
                                </div>


                                <div style="clear: both;">
                                    <p class="ats-fontsize-20">2、属于对会计等式“资产=负债+所有者权益”影响的哪种类型？ </p>
                                </div>
                                <div class="radio">
                                    <!-- aer = AccountingEquationRadio : 会计等式单选框-->
                                    <label> <input type="radio" name="aer" id="aer1"
                                                   value="A" checked> <span>引起资产项目内部此增彼减，增减金额相等。</span>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input type="radio" name="aer" id="aer2"
                                                   value="B"> <span>引起负债与所有者权益项目内部此增彼减，增减金额相等。</span>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input type="radio" name="aer" id="aer3"
                                                   value="C"> <span>引起资产和负债与所有者权益项目同时增加，增加的金额相等。</span>
                                    </label>
                                </div>
                                <div class="radio ">
                                    <label> <input type="radio" name="aer" id="aer4"
                                                   value="D"> <span>引起资产和负债与所有者权益项目同时减少，减少的金额相等。</span>
                                    </label>
                                </div>
                            </form>

                        </div>
                    </div>

                    <hr class="simple" color="#6f5499"/>
                    <div align="right">
                        <input class="btn btn-success right-block" form="courseii-1" type="submit" value="提交">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock courseBody %}