{% extends 'course/courseBase.html' %}
{% block courseBody %}
    <!-- <link href="http://cdn.accoj.top/static/accoj-1.0.0/coursevi.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/course/coursevi.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/course/coursevi.js') }}" charset="UTF-8"></script>
    <!--第六次课程-->
    <div class="courseBody">
        <!--习题主体-->
        <div class="container">
            <div class="panel panel-default">
                <!--作业要求-->
                <div class="panel-heading">
				<span>
                    1、理解会计凭证的分类。
                    <br/>
                    2、了解各类原始凭证。
                    <br/>
                    3、掌握记账凭证的填制方法。
                    <br/>
                    <strong>4、你需要完成的题目有：</strong><strong id="selfQuestion"></strong>
				</span>
                </div>
                <div class="panel-body">
                    <div class="acc-pn-center">
                        <nav aria-label="Page navigation">
                            <ul data-page class="pagination">
                                <li data-page-control><a aria-hidden="true">&laquo;</a></li>
                                <li data-page-control><a aria-hidden="true">‹</a></li>
                                <li data-page-control class="active"><a>1</a></li>
                                <li data-page-control><a>2</a></li>
                                <li data-page-control><a>3</a></li>
                                <li data-page-control><a>4</a></li>
                                <li data-page-control><a>5</a></li>
                                <li data-page-control><a aria-hidden="true">›</a></li>
                                <li data-page-control><a aria-hidden="true">&raquo;</a></li>
                            </ul>
                        </nav>
                    </div>
                    <hr class="simple"/>
                    <p class="help-block">温馨提示：
                    <p class="help-block">1.完成当前业务信息后应手动保存，防止信息丢失。</p>
                    <p class="help-block">2.提交前确保所有题目已保存，防止丢分。</p>
                    <em class="acc-score-help">&nbsp;/&nbsp;总得分</em>
                    <em class="acc-score-help">当前</em>
                    </p>
                    <h4>
                        <span class="glyphicon glyphicon-bookmark"></span> <em id="em_no"></em>
                        <span id="submit_status_span" class="glyphicon glyphicon-ok acc-completed">已完成</span>
                        <em data-total-score></em>
                        <em data-now-score></em>
                    </h4>
                    <!--业务题目-->
                    <div class="acc-container-answer">
                        <blockquote>
                            <label id="business_type" class="label label-success"></label>
                            <p id="business_content"></p>
                        </blockquote>
                    </div>
                    <div class="acc-container-answer">
                        <div>
                            <p class="acc-title">1、上传原始凭证（上传文件）</p>
                            <!--文件上传-->
                            <form>
                                <div class="form-group">

                                    <br>

                                    <!-- <button type="button" data-toggle="modal" data-target="#uploader">
                                        选择文件
                                      </button> -->
                                    <!-- <div class="modal fade" id="uploader" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">图片上传</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              ...
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                             <button type="button" class="btn btn-primary">选择文件</button>  -->

                                    <!-- <label for="uploadFiles">
                               <span class="glyphicon glyphicon-upload"></span> 上传文件

                           </label> -->
                                    <input type="file" data-get-file id="uploadFiles" accept=".zip,.rar">
                                    <!-- <input class="btn btn-primary" style="display: inline" type="file" id="uploadFiles" accept=".jpg , .png" multiple="multiple" data-get-file> -->
                                    <!-- </div>
                                  </div>
                                </div>
                              </div> -->

                                    <p class="help-block">支持格式zip,rar只支持上传一个附件，重复上传将会被覆盖。</p>

                                    <!-- 文件名 -->
                                    <div>
                                        <span class="border-left"></span>
                                    </div>

                                    <!-- Button trigger modal -->
                                    <!-- <button id="preview" type="button"     onclick="previewpic()" data-toggle="modal" >
                                        图片预览
                                    </button> -->

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog " style="width: 80% !important;">
                                            <img id="imga" src="" alt="" width="100%">
                                        </div>
                                    </div>


                                    <!--文件下载-->
                                    <button type="button" id="vi_downloadFile_button" data-download-file
                                            style="display: none">下载附件
                                    </button>&nbsp;&nbsp;
                                    <span id="vi_downloadSpan"></span>
                                    <div id="download_message"></div>
                                    {% if role == "教师" %}
                                        <div class="input-group col-lg-2">
                                            <input name="score" type="text" class="form-control" placeholder="满分3">
                                            <span class="input-group-btn">
                                            <button id="teacher_correct" class="btn btn-info"
                                                    type="button">教师评分</button>
                                        </span>
                                        </div>
                                        <div id="correct_message"></div>
                                    {% endif %}
                                </div>
                            </form>
                            <p class="acc-title">2、填制记账凭证：</p>
                            <div class="table-responsive">
                                <table class="table table-bordered acc-container-tableformat acc-unborder acc-table-md">
                                    <tbody>
                                    <tr>
                                        <th colspan="23" class="acc-unedit">记账凭证</th>
                                    </tr>
                                    <tr>
                                        <th colspan="23">
										<span style="float: left">记
                                            <label>
                                                <input class="acc-input-vi" min="1" name="doc_no" type="number">
                                            </label>号
                                        </span>
                                            <span>日期：
                                            <label>
                                                <input class="acc-unborder" type="date" name="date">
                                            </label>
                                        </span>
                                        <span style="float: right;">附单据
                                            <label>
                                                <input class="acc-input-vi" min="1" name="doc_nums" type="number">
                                            </label>张
                                        </span>
                                    </th>
                                </tr>
                                <!--控制本表格式-->
                                <tr class="acc-table-format-6-1">
                                    <th rowspan="2" class="acc-unedit">摘要</th>
                                    <th rowspan="2" class="acc-unedit">总账科目</th>
                                    <th rowspan="2" class="acc-unedit">明细科目</th>
                                    <th colspan="10" class="acc-unedit">借方金额</th>
                                    <th colspan="10" class="acc-unedit">贷方金额</th>
                                </tr>
                                <tr class="acc-unedit">
                                    <th>千</th>
                                    <th>百</th>
                                    <th>十</th>
                                    <th>万</th>
                                    <th>千</th>
                                    <th>百</th>
                                    <th>十</th>
                                    <th>元</th>
                                    <th>角</th>
                                    <th>分</th>
                                    <th>千</th>
                                    <th>百</th>
                                    <th>十</th>
                                    <th>万</th>
                                    <th>千</th>
                                    <th>百</th>
                                    <th>十</th>
                                    <th>元</th>
                                    <th>角</th>
                                    <th>分</th>
                                    <th class="acc-unborder">
                                        <div class="acc-plus">
                                            <a type="button" class="btn" data-vi-addRow data-toggle="tooltip"
                                               data-placement="left" title="增加行">
                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                            </a>
                                        </div>
                                    </th>
                                </tr>
                                    <tr id="vi_row1">
                                        <td><label><input name="summary" data-illegal-char></label></td>
                                        <td><label><input name="general_account" data-illegal-char></label>
                                        </td>
                                        <td><label><input name="detail_account" data-illegal-char></label>
                                        </td>

                                        <td colspan='10' id="borrow1" style="display: none;"></td>
                                        <td class="borrow1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>

                                        <td colspan='10' id="lend1" style="display: none;"></td>
                                        <td class="lend1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="lend1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="lend1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="lend1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="lend1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="lend1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="lend1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="lend1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="lend1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="lend1" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>

                                    </tr>
                                    <!-- 合计 -->
                                    <tr id="vi_rowLast">
                                        <th colspan="3" class="acc-unedit">合计</th>
                                        <td colspan='10' id="borrow_sum" style="display: none;"></td>
                                        <td class="borrow_sum" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow_sum" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow_sum" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow_sum" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow_sum" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow_sum" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow_sum" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow_sum" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow_sum" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow_sum" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>

                                        <td colspan='10' id="borrow_lend" style="display: none;"></td>
                                        <td class="borrow_lend" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow_lend" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow_lend" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow_lend" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow_lend" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow_lend" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow_lend" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow_lend" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow_lend" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                        <td class="borrow_lend" onclick="input_replace_on(event)"><label><input
                                                data-limit-number></label></td>
                                    </tr>
                                    <tr class="acc-unedit">
                                        <th colspan="23" style="text-align: left">制表人：{{ username }}</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr class="simple"/>
                    <!--信息提示窗口-->
                    <div id="course_vi_message"></div>
                    <div class="acc-btn-left">
                        <button type="button" class="btn btn-info" data-answer>查看答案</button>
                    </div>
                    <div class="acc-btn-right">
                        <button class="btn btn-info" data-save type="button">
                            <span class="glyphicon"></span>保存
                        </button>
                        <button type="button" class="btn btn-success " data-toggle="tooltip" data-placement="top"
                                title="请保存所有题目再提交" data-confirm>
                            <span class="glyphicon"></span>提交
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 防尾前移 -->
    <div class="acc-container-separate"></div>

{% endblock courseBody %}
