{% extends 'course/courseBase.html' %}

{% block courseBody %}
    <div class="courseBody">
        <!-- 习题主体 -->
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
				<span>1、掌握并识记常用会计科目。
				</span>
                </div>
                <div class="panel-body">
                    <div align="center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li><a href="#" aria-label="Previous"> <span
                                        aria-hidden="true">&laquo;</span>
                                </a></li>
                                <li class="active"><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">5</a></li>
                                <li><a href="">6</a></li>
                                <li><a href="">7</a></li>
                                <li><a href="">8</a></li>
                                <li><a href="">9</a></li>
                                <li><a href="">10</a></li>
                                <li><a href="">11</a></li>
                                <li><a href="">12</a></li>
                                <li><a href="">13</a></li>
                                <li><a href="">14</a></li>
                                <li><a href="">15</a></li>
                                <li><a href="">16</a></li>
                                <li><a href="">17</a></li>
                                <li><a href="">18</a></li>
                                <li><a href="">19</a></li>
                                <li><a href="">20</a></li>
                                <li><a href="#" aria-label="Next"> <span
                                        aria-hidden="true">&raquo;</span>
                                </a></li>
                            </ul>
                        </nav>
                    </div>
                    <hr class="simple" color="#6f5499"/>
                    <!-- 业务一 -->
                    <div>
                        <h4><span class="glyphicon glyphicon-bookmark"></span>
                            <em>01</em></h4>
                        <div class="ats-subject">
                            <blockquote>
                                <label class="label  label-success">筹资活动</label>
                                <p><span class="font-red">2020</span>年<span class="font-red">01</span>月<span
                                        class="font-red">01</span>日，从中国建设银行取得<span class="font-red">3</span>年期贷款<span
                                        class="font-red">12</span>%，按年结算利息。</p>
                            </blockquote>
                        </div>
                        <div class="ats-board">
                            <div style="">
                                <p class="ats-fontsize-20">涉及到的会计科目及增减变化</p>
                            </div>
                            <!-- TODO -->
                            
                            
                            <script>
                            	function ctol(){
                            		$centerbox = $('#centerbox');
                        			$leftbox = $('#leftbox');
                        			$rightbox = $('#rightbox');
                            		$input = $centerbox.find('input');
                            		for(var k=0;k<$input.length;k++){
	                            			if($input[k].checked){
	                            				$leftbox.append(
	                            					$($input[k]).parent()
	                            				);
	                            			}
                            		   	}
                            	}
                            	
                            	function ctol_cancel(){
                            		$centerbox = $('#centerbox');
                        			$leftbox = $('#leftbox');
                        			$rightbox = $('#rightbox');
                            		$input = $leftbox.find('input');
                            		for(var k=0;k<$input.length;k++){
	                            			if($input[k].checked){
	                            				$centerbox.append(
	                            					$($input[k]).parent()
	                            				);
	                            			}
                            		   	}
                            	}
                            	
                            	function ctor(){
                            		$centerbox = $('#centerbox');
                        			$leftbox = $('#leftbox');
                        			$rightbox = $('#rightbox');
                            		$input = $centerbox.find('input');
                            		for(var k=0;k<$input.length;k++){
	                            			if($input[k].checked){
	                            				$rightbox.append(
	                            					$($input[k]).parent()
	                            				);
	                            			}
                            		   	}
                            	}
                            	
                            	function ctor_cancel(){
                            		$centerbox = $('#centerbox');
                        			$leftbox = $('#leftbox');
                        			$rightbox = $('#rightbox');
                            		$input = $rightbox.find('input');
                            		for(var k=0;k<$input.length;k++){
	                            			if($input[k].checked){
	                            				$centerbox.append(
	                            					$($input[k]).parent()
	                            				);
	                            			}
                            		   	}
                            	}
                            </script>
                            
                            
                            <div>
                            
                            
                            
                           		
                            	
                            	
                            	
                            	<div class="panel panel-default" style="float: left;width: 45%;">
                            	<div id="centerbox" class="panel-heading" style="height:600px;">
                            		
   										<label style="col-xs-12 col-sm-2">
     										<input type="checkbox" value="库存现金"> 库存现金
  										</label>
 									
 									
   										<label style="col-xs-12 col-sm-2">
     										<input type="checkbox" value="银行存款"> 银行存款
  										</label>
 									
 									
   										<label style="col-xs-12 col-sm-2">
     										<input type="checkbox" value="其他货币资金"> 其他货币资金
  										</label>
 									
 									
   										<label style="col-xs-12 col-sm-2">
     										<input type="checkbox" value="交易性金融资产"> 交易性金融资产
  										</label>
 									
   										<label style="col-xs-12 col-sm-2">
     										<input type="checkbox" value="应收票据"> 应收票据
  										</label>
 									
   										<label style="col-xs-12 col-sm-2">
     										<input type="checkbox" value="应收账款"> 应收账款
  										</label>
 									
   										<label style="col-xs-12 col-sm-2">
     										<input type="checkbox" value="预付账款"> 预付账款
  										</label>
 									
   										<label style="col-xs-12 col-sm-2">
     										<input type="checkbox" value="应收股利"> 应收股利
  										</label>
 									
   										<label style="col-xs-12 col-sm-2">
     										<input type="checkbox" value="应收利息"> 应收利息
  										</label>
 									
   										<label style="col-xs-12 col-sm-2">
     										<input type="checkbox" value="其他应收款"> 其他应收款
  										</label>
 									
   										<label style="col-xs-12 col-sm-2">
     										<input type="checkbox" value="坏账准备"> 坏账准备
  										</label>
 									
   										<label style="col-xs-12 col-sm-2">
     										<input type="checkbox" value="材料采购"> 材料采购
  										</label>

   										<label>
     										<input type="checkbox" value="在途物资"> 在途物资
  										</label>
 									
   										<label>
     										<input type="checkbox" value="原材料"> 原材料
  										</label>
 									
   										<label>
     										<input type="checkbox" value="材料成本差异"> 材料成本差异
  										</label>
 									
   										<label>
     										<input type="checkbox" value="库存商品"> 库存商品
  										</label>
 									
   										<label>
     										<input type="checkbox" value="发出商品"> 发出商品
  										</label>
 									
   										<label>
     										<input type="checkbox" value="商品进销差价"> 商品进销差价
  										</label>
 									
   										<label>
     										<input type="checkbox" value="委托加工物资"> 委托加工物资
  										</label>
 									
   										<label>
     										<input type="checkbox" value="存货跌价准备"> 存货跌价准备
  										</label>
 									
   										<label>
     										<input type="checkbox" value="持有至到期投资"> 持有至到期投资
  										</label>
 									
   										<label>
     										<input type="checkbox" value="持有至到期投资减值准备"> 持有至到期投资减值准备
  										</label>
 									
   										<label>
     										<input type="checkbox" value="可供出售金融资产"> 可供出售金融资产
  										</label>
  										<label>
     										<input type="checkbox" value="长期股权投资"> 长期股权投资
  										</label>
  										<label>
     										<input type="checkbox" value="长期股权投资减值准备"> 长期股权投资减值准备
  										</label>
  										<label>
     										<input type="checkbox" value="投资性房地产"> 投资性房地产
  										</label>
  										<label>
     										<input type="checkbox" value="长期应收款"> 长期应收款
  										</label>
  										<label>
     										<input type="checkbox" value="固定资产"> 固定资产
  										</label>
  										<label>
     										<input type="checkbox" value="累计折旧"> 累计折旧
  										</label>
  										<label>
     										<input type="checkbox" value="固定资产减值准备"> 固定资产减值准备
  										</label>
  										<label>
     										<input type="checkbox" value="在建工程"> 在建工程
  										</label>
  										<label>
     										<input type="checkbox" value="工程物资"> 工程物资
  										</label>
  										<label>
     										<input type="checkbox" value="固定资产清理"> 固定资产清理
  										</label>
  										<label>
     										<input type="checkbox" value="无形资产"> 无形资产
  										</label>
  										<label>
     										<input type="checkbox" value="累计摊销"> 累计摊销
  										</label>
  										<label>
     										<input type="checkbox" value="无形资产减值准备"> 无形资产减值准备
  										</label>
  										<label>
     										<input type="checkbox" value="商誉"> 商誉
  										</label>
  										<label>
     										<input type="checkbox" value="递延所得税资产"> 递延所得税资产
  										</label>
  										<label>
     										<input type="checkbox" value="待处理财产损溢"> 待处理财产损溢
  										</label>
  										<label>
     										<input type="checkbox" value="短期借款"> 短期借款
  										</label>
  										<label>
     										<input type="checkbox" value="应付票据"> 应付票据
  										</label>
  										<label>
     										<input type="checkbox" value="应付账款"> 应付账款
  										</label>
  										<label>
     										<input type="checkbox" value="预收账款"> 预收账款
  										</label>
  										<label>
     										<input type="checkbox" value="应付职工薪酬"> 应付职工薪酬
  										</label>
  										<label>
     										<input type="checkbox" value="应交税费"> 应交税费
  										</label>
  										<label>
     										<input type="checkbox" value="应付利息"> 应付利息
  										</label>
  										<label>
     										<input type="checkbox" value="应付股利"> 应付股利
  										</label>
  										<label>
     										<input type="checkbox" value="其他应付款"> 其他应付款
  										</label>
  										<label>
     										<input type="checkbox" value="长期借款"> 长期借款
  										</label>
  										<label>
     										<input type="checkbox" value="应付债券"> 应付债券
  										</label>
  										<label>
     										<input type="checkbox" value="长期应付款"> 长期应付款
  										</label>
  										<label>
     										<input type="checkbox" value="专项应付款"> 专项应付款
  										</label>
  										<label>
     										<input type="checkbox" value="预计负债"> 预计负债
  										</label>
  										<label>
     										<input type="checkbox" value="递延所得税负债"> 递延所得税负债
  										</label>
  										<label>
     										<input type="checkbox" value="实收资本"> 实收资本
  										</label>
  										<label>
     										<input type="checkbox" value="资本公积"> 资本公积
  										</label>
  										<label>
     										<input type="checkbox" value="盈余公积"> 盈余公积
  										</label>
  										<label>
     										<input type="checkbox" value="本年利润"> 本年利润
  										</label>
  										<label>
     										<input type="checkbox" value="利润分配"> 利润分配
  										</label>
  										<label>
     										<input type="checkbox" value="生产成本"> 生产成本
  										</label>
  										<label>
     										<input type="checkbox" value="制造费用"> 制造费用
  										</label>
  										<label>
     										<input type="checkbox" value="劳务成本"> 劳务成本
  										</label>
  										<label>
     										<input type="checkbox" value="研发支出"> 研发支出
  										</label>
  										<label>
     										<input type="checkbox" value="主营业务收入"> 主营业务收入
  										</label>
  										<label>
     										<input type="checkbox" value="其他业务收入"> 其他业务收入
  										</label>
  										<label>
     										<input type="checkbox" value="公允价值变动损益"> 公允价值变动损益
  										</label>
  										<label>
     										<input type="checkbox" value="投资收益"> 投资收益
  										</label>
  										<label>
     										<input type="checkbox" value="营业外收入"> 营业外收入
  										</label>
  										<label>
     										<input type="checkbox" value="主营业务成本"> 主营业务成本
  										</label>
  										<label>
     										<input type="checkbox" value="其他业务成本"> 其他业务成本
  										</label>
  										<label>
     										<input type="checkbox" value="税金及附加"> 税金及附加
  										</label>
  										<label>
     										<input type="checkbox" value="销售费用"> 销售费用
  										</label>
  										<label>
     										<input type="checkbox" value="财务费用"> 财务费用
  										</label>
  										<label>
     										<input type="checkbox" value="资产减值损失"> 资产减值损失
  										</label>
  										<label>
     										<input type="checkbox" value="营业外支出"> 营业外支出
  										</label>
  										<label>
     										<input type="checkbox" value="所得税费用"> 所得税费用
  										</label>
  										<label>
     										<input type="checkbox" value="以前年度损益调整"> 以前年度损益调整
 										</label>								
                            	</div>
                            	</div>
                            	
                            	<div style="float: left;width: 10%;height:500px;">
                            		<div align="center" style="margin-top: 100px;margin-bottom: 230px">
                            			<div>
											<button type="button" class="btn btn-success" id="" onclick="ctor()">
												<span class="glyphicon"></span>&nbsp;增加
											</button>
										</div>
										<div>
											<button type="button" class="btn btn-info" style="margin-top: 10px" onclick="ctor_cancel()">
												<span class="glyphicon"></span>&nbsp;撤销
											</button>
										</div>
									</div>
									<div align="center">
                            			<div>
											<button type="button" class="btn btn-danger" id="" onclick="ctol()">
												<span class="glyphicon"></span>&nbsp;减少
											</button>
										</div>
										<div>
											<button type="button" class="btn btn-info" style="margin-top: 10px;" onclick="ctol_cancel()">
												<span class="glyphicon"></span>&nbsp;撤销
											</button>
										</div>
									</div>
                            	</div>
                            	
                            	<div class="panel panel-success" style="float: left;width: 45%;">
                            	<div id="rightbox" class="panel-heading" style="height:288px;">
                            	</div>
                            	</div>
                            	<div class="panel panel-danger" style="float: left;width: 45%;">
                            	<div id="leftbox" class="panel-heading" style="height:288px;">	
                            	</div>
                            	</div>
                            </div>
                            
                            

                            
                        </div>
                        <hr class="simple" style="clear: both;" color="#6f5499"/>
						<div align="right">
							<button type="button" class="btn btn-success" id="">
								<span class="glyphicon"></span>&nbsp;提交
							</button>
						</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock courseBody %}