.select_header {
    display: flex;
    justify-content: space-between;
}

.select_btn {
    display: flex;
    justify-content: space-around;
    width: 250px;
}

.member_box {
    display: flex;
    justify-content: flex-start;
}

.select_class {
    width: 350px;
}

.team_item {
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    margin: 5px 10px 5px 10px !important;
    border-radius: 5px;
    position: static !important;
    float: none !important;
    cursor: pointer;
}

.card {
    box-shadow: none !important;
}

.team-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
}

.member_box {
    /* margin-top: 15px; */
    display: flex;
    flex-wrap: wrap;
}

.infobox {
    width: 100%;
    height: 100%;
}

.member_item {
    width: 200px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 2px 5px #c9c7c7;
    align-items: center;
    margin: 7px;
    position: relative;
}
.del {
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: red;
    display: none;
}

.member_item:hover > .del {
    display: inline-block;
}

.team_leader_check {
    position: absolute;
    left: 10px;
}

.messageBox {
    margin-left: 10px;
    margin-right: 10px;
}

.studentModalBox {
    height: 600px;
    overflow: auto;
}