/*页面顶部*/
#project-title{
	margin-bottom: 0;
	background-color: #ffffff;
	border-color:#ffffff
}
footer a {
    color: white;
}
footer a:visited{
	color: #ffffff;
}
/*友情链接*/
.acc-friendlink li{
	width: 19%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
/*底部图标*/
.acc-footer-icon {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
/*隐藏图标内容*/
.acc-footer-icon .acc-footer-icontext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* 定位 */
    position: absolute;
    z-index: 1;
    top:-120px;
    right:-34px;
}
/*显示图标内容*/
.acc-footer-icon:hover .acc-footer-icontext {
    visibility: visible;
}
.acc-qq a:hover{
	color: gold;
}
.acc-weixin a:hover{
	color: #8ee154;
}
/*湖南工学院简介*/
.acc-intro-hnit p{
	font-size: 14px;
    font-family: 楷体, serif;
	text-indent:2em; 
}