/*--------------------------------------------COMMON START--------------------------------------------*/

/*公司法补充信息*/
dt {
    text-indent: 1em;
}

dd {
    text-indent: 3em;
}

/*练习题主体容器*/
.acc-container-answer {
    margin-left: 4%;
    margin-right: 4%;
}

/*大标题*/
.acc-title {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 800;
}

/*已完成*/
.acc-completed {
    color: #5cb85c;
    font-size: medium;
    display: none;
}

/*页码居中*/
.acc-pn-center {
    text-align: center;
}

/*分割线*/
.simple {
    clear: both;
}

/*底部按钮居右*/
.acc-btn-right {
    text-align: right;
}

/*底部按钮居左*/
.acc-btn-left {
    text-align: left;
}

/*新建 +*/
.acc-plus{
    text-align: center;
}

.acc-plus a{
    color: green;padding: 0;
}

/*删除 -*/
.acc-minus{
    text-align: center;
}

.acc-minus a{
    color: red;padding: 0;
}

/*---------------------------------------------COMMON END---------------------------------------------*/


/*table标题垂直居中*/
.table tbody tr th {
    vertical-align: middle;
}

/*主体和页尾之间的空白容器*/
/* .acc-container-separate {
    height: 0px;
} */

/*v-x表单格式*/
.acc-container-tableformat th, td {
    text-align: center;
}

/*vi表单内的input*/
.acc-input-vi {
    width: 40px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
}

/*新建业务容器*/
.acc-container-newbusiness {
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
}

/*新建业务容器 头字体*/
.acc-container-newbusiness th {
    color: #ffffff;
}

/*T表*/
.acc-ttable {
    width: 100%;
}

/*T表input*/
.acc-ttable input {
    border-width: thin;
    width: 100%;
    height: 100%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
}



/*--------------------------------------------III START--------------------------------------------*/

/*三色 默认盒子*/
.acc-tricolor-default {
    float: left;
    width: 45%;
    height: 600px;
}

.acc-tricolor-default > div:first-of-type {
    height: 100%;
}

/*三色 增加/减少/撤销按钮*/
.acc-tricolor-btn {
    float: left;
    width: 10%;
    height: 600px;
    text-align: center;
}

.acc-tricolor-btn > div:first-of-type {
    margin-top: 90px;
    margin-bottom: 220px
}

.acc-tricolor-btn button {
    margin: 5px auto;
}

/*三色 浅绿/浅红盒子*/
.acc-tricolor-scsAndDg {
    float: left;
    width: 45%;
}

.acc-tricolor-scsAndDg > div {
    height: 288px;
}

/*---------------------------------------------III END---------------------------------------------*/

/*
    un 取消
*/
/*文本框不可拖拽改变大小*/
.acc-unresize {
    resize: none;
}

/*不可编辑背景,灰色*/
.acc-unedit {
    background-color: #f5f5f5;
    padding: 4px !important;
}

/*取消表格内的label内边距和外边距*/
.acc-label-0pm label {
    padding: 0 0;
    margin: 0 0;
}

/*取消A标签的下划线*/
.acc-a-unline, .acc-a-unline:hover, .acc-a-unline:focus {
    text-decoration: none;
}

/*取消外边框*/
.acc-unborder{
    border: none;
    outline: none;
}


/*
    format 格式
*/
/*.acc-table-format-1-1*/
.acc-table-format-1-1 > :nth-child(1) {
    width: 14%;
}

.acc-table-format-1-1 > :nth-child(2) {
    width: 20%;
}

.acc-table-format-1-1 > :nth-child(3) {
    width: 8%;
}

.acc-table-format-1-1 > :nth-child(4) {
    width: 20%;
}

.acc-table-format-1-1 > :nth-child(5) {
    width: 8%;
}

.acc-table-format-1-1 > :nth-child(6) {
    width: 20%;
}

/*acc-table-format-1-2*/
.acc-table-format-1-2 > :nth-child(1) {
    width: 4%;
}

.acc-table-format-1-2 > :nth-child(2) {
    width: 96%;
    text-align: left;
    vertical-align: middle;
}

/*acc-table-format-4-1*/
.acc-table-format-4-1 > :nth-child(1) {
    width: 8%; border-right:0;
}

.acc-table-format-4-1 > :nth-child(2) {
    width: 8%; border-left:0;
}

.acc-table-format-4-1 > :nth-child(3) {
    width: 40%;
}

.acc-table-format-4-1 > :nth-child(4) {
    width: 40%;
}

.acc-table-format-4-1 > :nth-child(5) {
    width: 4%;border: 0;
}